In [133]:
import pandas as pd
import os
import numpy as np
import regex as re

In [5]:
years = ['2016', '2017', '2018', '2019']

In [375]:
schools = {}

for year in years:
    arr = []
    for fp in os.listdir(f'raw/{year}/team_stats'):
        arr.append(os.path.splitext(fp)[0])
    
    schools[year] = arr

In [376]:
schools

{'2016': ['Brown',
  'Northwestern St.',
  'Georgia',
  'North Carolina',
  'San Diego',
  'Bryant',
  'Wyoming',
  'New Hampshire',
  'Denver',
  "St. John's",
  'Navy',
  'The Citadel',
  'UC Davis',
  'Wisconsin',
  'Murray St.',
  'UTSA',
  'Charlotte',
  'Minnesota',
  'Fla. Atlantic',
  'Purdue Fort Wayne',
  'Maryland',
  'Hofstra',
  'Valparaiso',
  'Boston College',
  'William & Mary',
  'UNLV',
  'Ole Miss',
  'Rutgers',
  'Seton Hall',
  'Jacksonville',
  'Stony Brook',
  'Robert Morris',
  'Baylor',
  'UCF',
  'SIUE',
  'San Francisco',
  'Mercer',
  'Northeastern',
  'Eastern Ill.',
  'Jackson St.',
  'Texas',
  'St. Francis Brooklyn',
  'Niagara',
  'Princeton',
  'Loyola Chicago',
  'Wichita St.',
  'Cincinnati',
  'Southeast Mo. St.',
  'Saint Francis',
  'Drake',
  'Nicholls St.',
  'Lipscomb',
  'Florida',
  'Central Conn. St.',
  'Idaho St.',
  'Michigan',
  'Hawaii',
  'UNC Greensboro',
  'NJIT',
  'Fairleigh Dickinson',
  'Bethune-Cookman',
  'BYU',
  'North Dakota St.',
  'New Mexico St.',
  'Georgia Tech',
  'Louisville',
  'Miami',
  'Texas Southern',
  'Prairie View',
  'Marshall',
  'Presbyterian',
  'Oral Roberts',
  'Chattanooga',
  'Oregon St.',
  'Charleston So.',
  'Tennessee',
  'South Alabama',
  'Stanford',
  'Canisius',
  'Montana St.',
  'Arkansas',
  'Penn',
  'CSU Bakersfield',
  'Providence',
  'Ohio',
  'South Dakota St.',
  'McNeese',
  'Wright St.',
  'Pittsburgh',
  'Illinois St.',
  'Nebraska',
  'Siena',
  'Montana',
  'Seattle U',
  'Syracuse',
  'San Diego St.',
  'Marquette',
  'Southern Miss.',
  'Indiana',
  'Morehead St.',
  'Sacramento St.',
  'Villanova',
  'Penn St.',
  'UTRGV',
  'Cal Poly',
  'High Point',
  'Long Beach St.',
  'Pacific',
  'Mississippi Val.',
  'South Dakota',
  'Morgan St.',
  'Jacksonville St.',
  'George Washington',
  'Alcorn',
  'Omaha',
  'George Mason',
  'Austin Peay',
  'Chicago St.',
  'UT Arlington',
  'Creighton',
  'Northern Ariz.',
  'East Carolina',
  'Furman',
  'Georgia St.',
  'Eastern Ky.',
  'Columbia',
  'IUPUI',
  'VCU',
  'Boise St.',
  'Rider',
  'Coastal Carolina',
  'Bucknell',
  'Hampton',
  'Buffalo',
  'La Salle',
  'UIC',
  'Arkansas St.',
  'Xavier',
  'Kennesaw St.',
  'TCU',
  'ETSU',
  'Rice',
  'Auburn',
  'Texas Tech',
  'Georgetown',
  'Tennessee St.',
  'A&M-Corpus Christi',
  'Elon',
  'James Madison',
  'LIU',
  'La.-Monroe',
  'Central Mich.',
  'UConn',
  'Air Force',
  'Coppin St.',
  'Pepperdine',
  'Radford',
  'Central Ark.',
  'Fordham',
  'Western Ky.',
  'N.C. A&T',
  'Portland St.',
  'Purdue',
  'Appalachian St.',
  'Oklahoma',
  'Clemson',
  'Virginia Tech',
  'Colorado',
  'Texas A&M',
  'LSU',
  'Northwestern',
  'Howard',
  'Notre Dame',
  'Norfolk St.',
  'Yale',
  'Western Mich.',
  'Florida St.',
  'Northern Colo.',
  'Albany',
  'Ball St.',
  'Ark.-Pine Bluff',
  'Santa Clara',
  'Northern Ky.',
  'South Carolina',
  'UMBC',
  'Utah Valley',
  'North Dakota',
  'Middle Tenn.',
  'Dartmouth',
  'Weber St.',
  'Louisiana',
  'Holy Cross',
  'Washington St.',
  'Utah St.',
  'FIU',
  'Fairfield',
  'Army West Point',
  'Toledo',
  'Florida A&M',
  'Tulsa',
  'Kansas City',
  'Southeastern La.',
  'Memphis',
  'Davidson',
  'Lafayette',
  'N.C. Central',
  'Texas St.',
  'Eastern Wash.',
  'Utah',
  'Stetson',
  'Binghamton',
  'Winthrop',
  'Youngstown St.',
  'Sam Houston St.',
  "Saint Mary's",
  'New Orleans',
  'Tulane',
  'Virginia',
  'Bradley',
  'North Texas',
  'UC Santa Barbara',
  'Gonzaga',
  'Manhattan',
  'Loyola Maryland',
  'Liberty',
  'Missouri St.',
  'SFA',
  'NC State',
  'Cornell',
  'Duke',
  'Kansas St.',
  'Colorado St.',
  'Saint Louis',
  'Ohio St.',
  'UCLA',
  'Iowa St.',
  'FGCU',
  'Sacred Heart',
  'New Mexico',
  'Cal St. Fullerton',
  'Delaware',
  'Temple',
  'Wofford',
  'South Fla.',
  'Louisiana Tech',
  'Kentucky',
  'Harvard',
  'DePaul',
  'Oakland',
  'Milwaukee',
  'Southern Utah',
  'Akron',
  'American',
  'Bowling Green',
  'Campbell',
  'Belmont',
  'Arizona St.',
  'Evansville',
  'Tennessee Tech',
  'Western Caro.',
  'UC Riverside',
  'UNI',
  'UTEP',
  'Samford',
  'Grambling',
  'Kent St.',
  'Gardner-Webb',
  'Michigan St.',
  'UNC Asheville',
  'Delaware St.',
  'Southern California',
  'Alabama',
  'Alabama A&M',
  'SMU',
  'Arizona',
  'North Florida',
  'Green Bay',
  'UMES',
  'Houston',
  'Towson',
  'California',
  'USC Upstate',
  'Houston Baptist',
  'Cleveland St.',
  'LMU',
  'UT Martin',
  'Nevada',
  'Alabama St.',
  'Wake Forest',
  'Col. of Charleston',
  'Savannah St.',
  'UC Irvine',
  'Dayton',
  'Lamar University',
  'Quinnipiac',
  'Little Rock',
  'Illinois',
  'Colgate',
  'Duquesne',
  'Indiana St.',
  'Troy',
  'UAB',
  'Mississippi St.',
  'Southern Ill.',
  'Iona',
  'Marist',
  'Idaho',
  'Oregon',
  'Iowa',
  'Lehigh',
  'CSUN',
  'West Virginia',
  'Kansas',
  'Fresno St.',
  'Butler',
  'Eastern Mich.',
  'Ga. Southern',
  'Western Ill.',
  'Portland',
  'Washington',
  'UNCW',
  'Missouri',
  'Southern U.',
  'Northern Ill.',
  'Rhode Island',
  'Hartford',
  'San Jose St.'],
 '2017': ['Brown',
  'Northwestern St.',
  'Georgia',
  'North Carolina',
  'San Diego',
  'Bryant',
  'Wyoming',
  'New Hampshire',
  'Denver',
  "St. John's",
  'Navy',
  'The Citadel',
  'UC Davis',
  'Wisconsin',
  'Murray St.',
  'UTSA',
  'Charlotte',
  'Minnesota',
  'Fla. Atlantic',
  'Purdue Fort Wayne',
  'Maryland',
  'Hofstra',
  'Valparaiso',
  'Boston College',
  'William & Mary',
  'UNLV',
  'Ole Miss',
  'Rutgers',
  'Seton Hall',
  'Jacksonville',
  'Stony Brook',
  'Robert Morris',
  'Baylor',
  'UCF',
  'SIUE',
  'San Francisco',
  'Mercer',
  'Northeastern',
  'Eastern Ill.',
  'Jackson St.',
  'Texas',
  'St. Francis Brooklyn',
  'Niagara',
  'Princeton',
  'Loyola Chicago',
  'Wichita St.',
  'Cincinnati',
  'Southeast Mo. St.',
  'UMKC',
  'Saint Francis',
  'Drake',
  'Nicholls St.',
  'Lipscomb',
  'Florida',
  'Central Conn. St.',
  'Idaho St.',
  'Michigan',
  'Hawaii',
  'UNC Greensboro',
  'NJIT',
  'Fairleigh Dickinson',
  'Bethune-Cookman',
  'BYU',
  'North Dakota St.',
  'New Mexico St.',
  'Georgia Tech',
  'Louisville',
  'Miami',
  'Texas Southern',
  'Prairie View',
  'Marshall',
  'Presbyterian',
  'Oral Roberts',
  'Chattanooga',
  'Oregon St.',
  'Charleston So.',
  'Tennessee',
  'South Alabama',
  'Stanford',
  'Canisius',
  'Montana St.',
  'Arkansas',
  'Penn',
  'CSU Bakersfield',
  'Providence',
  'Ohio',
  'South Dakota St.',
  'McNeese',
  'Wright St.',
  'Pittsburgh',
  'Illinois St.',
  'Nebraska',
  'Siena',
  'Montana',
  'Seattle U',
  'Syracuse',
  'San Diego St.',
  'Marquette',
  'Southern Miss.',
  'Indiana',
  'Morehead St.',
  'Sacramento St.',
  'Villanova',
  'Penn St.',
  'UTRGV',
  'Cal Poly',
  'High Point',
  'Long Beach St.',
  'Pacific',
  'Mississippi Val.',
  'South Dakota',
  'Morgan St.',
  'Jacksonville St.',
  'George Washington',
  'Alcorn',
  'Omaha',
  'George Mason',
  'Austin Peay',
  'Chicago St.',
  'UT Arlington',
  'Creighton',
  'Northern Ariz.',
  'East Carolina',
  'Furman',
  'Georgia St.',
  'Eastern Ky.',
  'Columbia',
  'IUPUI',
  'VCU',
  'Boise St.',
  'UMass Lowell',
  'Rider',
  'Coastal Carolina',
  'Bucknell',
  'Hampton',
  'Buffalo',
  'La Salle',
  'UIC',
  'Arkansas St.',
  'Xavier',
  'Kennesaw St.',
  'TCU',
  'ETSU',
  'Rice',
  'Auburn',
  'Texas Tech',
  'Georgetown',
  'Tennessee St.',
  'A&M-Corpus Christi',
  'Incarnate Word',
  'Elon',
  'James Madison',
  'La.-Monroe',
  'Central Mich.',
  'UConn',
  'Air Force',
  'Coppin St.',
  'Pepperdine',
  'Radford',
  'Central Ark.',
  'Fordham',
  'Western Ky.',
  'N.C. A&T',
  'Portland St.',
  'Purdue',
  'Appalachian St.',
  'Oklahoma',
  'Clemson',
  'Virginia Tech',
  'Colorado',
  'South Carolina St.',
  'Texas A&M',
  'LSU',
  'Northwestern',
  'Howard',
  'Notre Dame',
  'Norfolk St.',
  'Yale',
  'Western Mich.',
  'Florida St.',
  'Northern Colo.',
  'Albany',
  'Ball St.',
  'Ark.-Pine Bluff',
  'Santa Clara',
  'Northern Ky.',
  'South Carolina',
  'UMBC',
  'Utah Valley',
  'North Dakota',
  'Middle Tenn.',
  'Dartmouth',
  'Weber St.',
  'Louisiana',
  'Holy Cross',
  'Washington St.',
  'Utah St.',
  'FIU',
  'Fairfield',
  'Army West Point',
  'Toledo',
  'Florida A&M',
  'Tulsa',
  'Southeastern La.',
  'Memphis',
  'Davidson',
  'Lafayette',
  'N.C. Central',
  'Texas St.',
  'Eastern Wash.',
  'Utah',
  'Stetson',
  'Binghamton',
  'Winthrop',
  'Youngstown St.',
  'Sam Houston St.',
  "Saint Mary's",
  'New Orleans',
  'Tulane',
  'Virginia',
  'Bradley',
  'North Texas',
  'LIU Brooklyn',
  'UC Santa Barbara',
  'Gonzaga',
  'Manhattan',
  'Loyola Maryland',
  'Liberty',
  'Missouri St.',
  'SFA',
  'NC State',
  'Cornell',
  'Duke',
  'Kansas St.',
  'Colorado St.',
  'Saint Louis',
  'Ohio St.',
  'UCLA',
  'Iowa St.',
  'FGCU',
  'Sacred Heart',
  'New Mexico',
  'Cal St. Fullerton',
  'Delaware',
  'Temple',
  'Wofford',
  'South Fla.',
  'Louisiana Tech',
  'Kentucky',
  'Harvard',
  'DePaul',
  'Oakland',
  'Milwaukee',
  'Southern Utah',
  'Akron',
  'American',
  'Bowling Green',
  'Campbell',
  'Belmont',
  'Arizona St.',
  'Evansville',
  'Tennessee Tech',
  'Western Caro.',
  'UC Riverside',
  'UNI',
  'Grand Canyon',
  'UTEP',
  'Samford',
  'Grambling',
  'Kent St.',
  'Gardner-Webb',
  'Michigan St.',
  'UNC Asheville',
  'Delaware St.',
  'Southern California',
  'Alabama',
  'Alabama A&M',
  'SMU',
  'Arizona',
  'North Florida',
  'Green Bay',
  'UMES',
  'Houston',
  'Towson',
  'California',
  'USC Upstate',
  'Houston Baptist',
  'Cleveland St.',
  'LMU',
  'UT Martin',
  'Nevada',
  'Alabama St.',
  'Wake Forest',
  'Col. of Charleston',
  'Savannah St.',
  'UC Irvine',
  'Dayton',
  'Lamar University',
  'Quinnipiac',
  'Little Rock',
  'Illinois',
  'Colgate',
  'Duquesne',
  'Indiana St.',
  'Troy',
  'UAB',
  'Mississippi St.',
  'Southern Ill.',
  'Iona',
  'Marist',
  'Idaho',
  'Oregon',
  'Iowa',
  'Lehigh',
  'CSUN',
  'West Virginia',
  'Kansas',
  'Fresno St.',
  'Butler',
  'Eastern Mich.',
  'Ga. Southern',
  'Western Ill.',
  'Portland',
  'Washington',
  'UNCW',
  'Missouri',
  'Southern U.',
  'Abilene Christian',
  'Northern Ill.',
  'Rhode Island',
  'Hartford',
  'San Jose St.'],
 '2018': ['Brown',
  'Northwestern St.',
  'Georgia',
  'North Carolina',
  'San Diego',
  'Bryant',
  'Wyoming',
  'New Hampshire',
  'Denver',
  "St. John's",
  'Navy',
  'The Citadel',
  'UC Davis',
  'Wisconsin',
  'Murray St.',
  'UTSA',
  'Charlotte',
  'Minnesota',
  'Fla. Atlantic',
  'Purdue Fort Wayne',
  'Maryland',
  'Hofstra',
  'Valparaiso',
  'Boston College',
  'William & Mary',
  'UNLV',
  'Ole Miss',
  'Rutgers',
  'Seton Hall',
  'Jacksonville',
  'Stony Brook',
  'Robert Morris',
  'Baylor',
  'UCF',
  'SIUE',
  'San Francisco',
  'Mercer',
  'Northeastern',
  'Eastern Ill.',
  'Jackson St.',
  'Texas',
  'St. Francis Brooklyn',
  'Niagara',
  'Princeton',
  'Loyola Chicago',
  'Wichita St.',
  'Cincinnati',
  'Southeast Mo. St.',
  'UMKC',
  'Saint Francis',
  'Drake',
  'Nicholls St.',
  'Lipscomb',
  'Florida',
  'Central Conn. St.',
  'Idaho St.',
  'Michigan',
  'Hawaii',
  'UNC Greensboro',
  'NJIT',
  'Fairleigh Dickinson',
  'Bethune-Cookman',
  'BYU',
  'North Dakota St.',
  'New Mexico St.',
  'Georgia Tech',
  'Louisville',
  'Miami',
  'Texas Southern',
  'Prairie View',
  'Marshall',
  'Presbyterian',
  'Oral Roberts',
  'Chattanooga',
  'Oregon St.',
  'Charleston So.',
  'Tennessee',
  'South Alabama',
  'Stanford',
  'Canisius',
  'Montana St.',
  'Arkansas',
  'Penn',
  'CSU Bakersfield',
  'Providence',
  'Ohio',
  'South Dakota St.',
  'McNeese',
  'Wright St.',
  'Pittsburgh',
  'Illinois St.',
  'Nebraska',
  'Siena',
  'Montana',
  'Seattle U',
  'Syracuse',
  'San Diego St.',
  'Marquette',
  'Southern Miss.',
  'Indiana',
  'Morehead St.',
  'Sacramento St.',
  'Villanova',
  'Penn St.',
  'UTRGV',
  'Cal Poly',
  'High Point',
  'Long Beach St.',
  'Pacific',
  'Mississippi Val.',
  'South Dakota',
  'Morgan St.',
  'Jacksonville St.',
  'George Washington',
  'Alcorn',
  'Omaha',
  'George Mason',
  'Austin Peay',
  "Saint Peter's",
  'Chicago St.',
  'UT Arlington',
  'Creighton',
  'Northern Ariz.',
  'East Carolina',
  'Furman',
  'Georgia St.',
  'Eastern Ky.',
  'Columbia',
  'IUPUI',
  'VCU',
  'Boise St.',
  'UMass Lowell',
  'Rider',
  'Bucknell',
  'Hampton',
  'Buffalo',
  'La Salle',
  'UIC',
  'Arkansas St.',
  'Xavier',
  'Kennesaw St.',
  'TCU',
  'ETSU',
  'Rice',
  'Auburn',
  'Texas Tech',
  'Georgetown',
  'Tennessee St.',
  'A&M-Corpus Christi',
  'Incarnate Word',
  'Elon',
  'James Madison',
  'La.-Monroe',
  'Central Mich.',
  'UConn',
  'Air Force',
  'Coppin St.',
  'Pepperdine',
  'Coastal Caro.',
  'Radford',
  'Central Ark.',
  'Fordham',
  'Western Ky.',
  'N.C. A&T',
  'Portland St.',
  'Purdue',
  'Appalachian St.',
  'Oklahoma',
  'Clemson',
  'Virginia Tech',
  'Colorado',
  'South Carolina St.',
  'Texas A&M',
  'LSU',
  'Northwestern',
  'Howard',
  'Notre Dame',
  'Norfolk St.',
  'Yale',
  'Western Mich.',
  'Florida St.',
  'Northern Colo.',
  'Albany',
  'Ball St.',
  'Ark.-Pine Bluff',
  'Santa Clara',
  'Northern Ky.',
  'South Carolina',
  'UMBC',
  'Utah Valley',
  'North Dakota',
  'Middle Tenn.',
  'Dartmouth',
  'Weber St.',
  'Louisiana',
  'Holy Cross',
  'Washington St.',
  'Utah St.',
  'FIU',
  'Fairfield',
  'Army West Point',
  'Toledo',
  'Florida A&M',
  'Tulsa',
  'Southeastern La.',
  'Memphis',
  'Davidson',
  'Lafayette',
  'N.C. Central',
  'Texas St.',
  'Eastern Wash.',
  'Utah',
  'Stetson',
  'Binghamton',
  'Winthrop',
  'Youngstown St.',
  'Sam Houston St.',
  "Saint Mary's",
  'New Orleans',
  'Tulane',
  'Virginia',
  'Bradley',
  'North Texas',
  'LIU Brooklyn',
  'UC Santa Barbara',
  'Gonzaga',
  'Manhattan',
  'Loyola Maryland',
  'Liberty',
  'Missouri St.',
  'SFA',
  'NC State',
  'Cornell',
  'Duke',
  'Kansas St.',
  'Colorado St.',
  'Saint Louis',
  'Ohio St.',
  'UCLA',
  'Iowa St.',
  'FGCU',
  'Loyola Marymount',
  'Sacred Heart',
  'New Mexico',
  'Cal St. Fullerton',
  'Delaware',
  'Temple',
  'Wofford',
  'South Fla.',
  'Louisiana Tech',
  'Kentucky',
  'Harvard',
  'DePaul',
  'Oakland',
  'Milwaukee',
  'Southern Utah',
  'Akron',
  'American',
  'Bowling Green',
  'Campbell',
  'Belmont',
  'Arizona St.',
  'Evansville',
  'Tennessee Tech',
  'Western Caro.',
  'UC Riverside',
  'UNI',
  'Grand Canyon',
  'UTEP',
  'Samford',
  'Grambling',
  'Kent St.',
  'Gardner-Webb',
  'Michigan St.',
  'UNC Asheville',
  'Delaware St.',
  'Southern California',
  'Alabama',
  'Alabama A&M',
  'SMU',
  'Arizona',
  'North Florida',
  'Green Bay',
  'UMES',
  'Houston',
  'Towson',
  'California',
  'USC Upstate',
  'Houston Baptist',
  'Cleveland St.',
  'UT Martin',
  'Nevada',
  'Alabama St.',
  'Wake Forest',
  'Col. of Charleston',
  'Savannah St.',
  'UC Irvine',
  'Dayton',
  'Lamar University',
  'Quinnipiac',
  'Little Rock',
  'Illinois',
  'Colgate',
  'Duquesne',
  'Indiana St.',
  'Troy',
  'UAB',
  'Mississippi St.',
  'Southern Ill.',
  'Iona',
  'Marist',
  'Idaho',
  'Oregon',
  'Iowa',
  'Lehigh',
  'CSUN',
  'West Virginia',
  'Kansas',
  'Fresno St.',
  'Butler',
  'Eastern Mich.',
  'Ga. Southern',
  'Western Ill.',
  'Portland',
  'Washington',
  'UNCW',
  'Missouri',
  'Southern U.',
  'Abilene Christian',
  'Northern Ill.',
  'Rhode Island',
  'Hartford',
  'San Jose St.'],
 '2019': ['Brown',
  'Northwestern St.',
  'Georgia',
  'North Carolina',
  'San Diego',
  'Bryant',
  'Wyoming',
  'New Hampshire',
  'Denver',
  "St. John's",
  'Navy',
  'The Citadel',
  'UC Davis',
  'Wisconsin',
  'Murray St.',
  'UTSA',
  'Charlotte',
  'Minnesota',
  'Fla. Atlantic',
  'Purdue Fort Wayne',
  'Maryland',
  'Hofstra',
  'Valparaiso',
  'Boston College',
  'William & Mary',
  'UNLV',
  'Ole Miss',
  'Rutgers',
  'Seton Hall',
  'Jacksonville',
  'Stony Brook',
  'Robert Morris',
  'Baylor',
  'UCF',
  'SIUE',
  'San Francisco',
  'Mercer',
  'Northeastern',
  'Eastern Ill.',
  'Jackson St.',
  'Texas',
  'St. Francis Brooklyn',
  'Niagara',
  'Princeton',
  'Loyola Chicago',
  'Wichita St.',
  'Cincinnati',
  'Southeast Mo. St.',
  'Saint Francis',
  'Drake',
  'Nicholls St.',
  'Lipscomb',
  'Florida',
  'Central Conn. St.',
  'Idaho St.',
  'Michigan',
  'Hawaii',
  'UNC Greensboro',
  'NJIT',
  'Fairleigh Dickinson',
  'Bethune-Cookman',
  'BYU',
  'North Dakota St.',
  'New Mexico St.',
  'Georgia Tech',
  'Louisville',
  'Miami',
  'Texas Southern',
  'Prairie View',
  'Marshall',
  'Presbyterian',
  'Oral Roberts',
  'Chattanooga',
  'Oregon St.',
  'Charleston So.',
  'Tennessee',
  'South Alabama',
  'Stanford',
  'Canisius',
  'Montana St.',
  'Arkansas',
  'Penn',
  'CSU Bakersfield',
  'Providence',
  'Ohio',
  'South Dakota St.',
  'McNeese',
  'Wright St.',
  'Pittsburgh',
  'Illinois St.',
  'Nebraska',
  'Siena',
  'Montana',
  'Seattle U',
  'Syracuse',
  'San Diego St.',
  'Marquette',
  'Southern Miss.',
  'Indiana',
  'Morehead St.',
  'Sacramento St.',
  'Villanova',
  'Penn St.',
  'UTRGV',
  'Cal Poly',
  'High Point',
  'Long Beach St.',
  'Pacific',
  'Mississippi Val.',
  'South Dakota',
  'Morgan St.',
  'Jacksonville St.',
  'George Washington',
  'Alcorn',
  'Omaha',
  'George Mason',
  'Austin Peay',
  "Saint Peter's",
  'Chicago St.',
  'UT Arlington',
  'Creighton',
  'Northern Ariz.',
  'East Carolina',
  'Furman',
  'Georgia St.',
  'Eastern Ky.',
  'Columbia',
  'IUPUI',
  'VCU',
  'Boise St.',
  'Rider',
  'Coastal Carolina',
  'Bucknell',
  'Hampton',
  'Buffalo',
  'La Salle',
  'UIC',
  'Arkansas St.',
  'Xavier',
  'Kennesaw St.',
  'TCU',
  'ETSU',
  'Rice',
  'Auburn',
  'Texas Tech',
  'Georgetown',
  'Tennessee St.',
  'A&M-Corpus Christi',
  'Elon',
  'James Madison',
  'LIU',
  'La.-Monroe',
  'Central Mich.',
  'UIW',
  'UConn',
  'Air Force',
  'Coppin St.',
  'Pepperdine',
  'Radford',
  'Central Ark.',
  'Fordham',
  'Western Ky.',
  'N.C. A&T',
  'Portland St.',
  'Purdue',
  'Appalachian St.',
  'Oklahoma',
  'Clemson',
  'Virginia Tech',
  'Colorado',
  'South Carolina St.',
  'Texas A&M',
  'LSU',
  'Northwestern',
  'Howard',
  'Notre Dame',
  'Norfolk St.',
  'Yale',
  'Western Mich.',
  'Florida St.',
  'Northern Colo.',
  'Albany',
  'Ball St.',
  'Ark.-Pine Bluff',
  'Santa Clara',
  'Northern Ky.',
  'South Carolina',
  'UMBC',
  'Utah Valley',
  'North Dakota',
  'Middle Tenn.',
  'Dartmouth',
  'Weber St.',
  'Louisiana',
  'Holy Cross',
  'Washington St.',
  'Utah St.',
  'FIU',
  'Fairfield',
  'Army West Point',
  'Toledo',
  'Florida A&M',
  'Tulsa',
  'Kansas City',
  'Southeastern La.',
  'Memphis',
  'Davidson',
  'Lafayette',
  'N.C. Central',
  'Texas St.',
  'Eastern Wash.',
  'Utah',
  'Stetson',
  'Binghamton',
  'Winthrop',
  'Youngstown St.',
  'Sam Houston St.',
  "Saint Mary's",
  'New Orleans',
  'Tulane',
  'Virginia',
  'Bradley',
  'North Texas',
  'UC Santa Barbara',
  'Gonzaga',
  'Manhattan',
  'Loyola Maryland',
  'Liberty',
  'Missouri St.',
  'SFA',
  'NC State',
  'Cornell',
  'Duke',
  'Kansas St.',
  'Colorado St.',
  'Saint Louis',
  'Ohio St.',
  'UCLA',
  'Iowa St.',
  'FGCU',
  'Sacred Heart',
  'New Mexico',
  'Cal St. Fullerton',
  'Delaware',
  'Temple',
  'Wofford',
  'South Fla.',
  'Louisiana Tech',
  'Kentucky',
  'Harvard',
  'DePaul',
  'Oakland',
  'Milwaukee',
  'Southern Utah',
  'Akron',
  'American',
  'Bowling Green',
  'Campbell',
  'Belmont',
  'Arizona St.',
  'Evansville',
  'Tennessee Tech',
  'Western Caro.',
  'UC Riverside',
  'UNI',
  'Grand Canyon',
  'UTEP',
  'Samford',
  'Grambling',
  'Kent St.',
  'Gardner-Webb',
  'Michigan St.',
  'UNC Asheville',
  'Delaware St.',
  'Southern California',
  'Alabama',
  'Alabama A&M',
  'SMU',
  'Arizona',
  'North Florida',
  'Green Bay',
  'UMES',
  'Houston',
  'Towson',
  'California',
  'USC Upstate',
  'Houston Baptist',
  'Cleveland St.',
  'LMU',

In [176]:
df1 = pd.read_csv('raw/2016/team_game_by_game/A&M-Corpus Christi (Southland).csv')
df1.columns = df1.iloc[0].values
df1 = df1[1:]
df1.reset_index(inplace=True)
df1.drop(['index'], axis = 1, inplace=True)
df1.iloc[:, :-1].columns

Index(['Date', 'Opponent', 'Result', 'S', 'MP', 'Kills', 'Errors',
       'Total Attacks', 'Hit Pct', 'Assists', 'Aces', 'SErr', 'Digs', 'RErr',
       'Block Solos', 'Block Assists', 'BErr', 'PTS', 'BHE'],
      dtype='object')

In [96]:
df2 = pd.read_csv('raw/2016/team_stats/A&M-Corpus Christi.csv')

In [97]:
df1.head()

,Date,Opponent,Result,S,MP,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE
0,08/26/2016,"Prairie View @ Waco, Texas",W 3 - 0,3,NaN,46,13,107,0.308,40,6,11,51,3,NaN,2,3,53.0,NaN
1,08/27/2016,@ Baylor,L 1 - 3,4,NaN,37,20,119,0.143,32,5,6,46,5,2,18,NaN,53.0,NaN
2,08/27/2016,"UTRGV @ Waco, TX",W 3 - 2,5,NaN,76,26,216/,0.231,62,4,12,88,8,2,16,2,90.0,NaN
3,09/03/2016,"San Diego @ Madison, Wis.",L 0 - 3,3,NaN,30,16,94,0.149,29,1,3,32,1,4,15,1,42.5,1
4,09/04/2016,@ Wisconsin,L 0 - 3,3,NaN,28,23,104,0.048,27,1,1,33,3,NaN,NaN,1,29.0,1

In [98]:
def get_team_1(desc):
    for team in desc.split('@'):
        if team.strip() in schools:
            return team.strip()

    return np.nan

df['Opp'] = df['Opponent'].apply(get_team_1)

In [101]:
df.loc[df['Opp'].isna()]

,Date,Opponent,Result,S,MP,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Opp
12,09/22/2016,Abilene Christian,W 3 - 0,3,NaN,44,24,126,0.159,42,2,3,59,6,5,12,NaN,57.0,3,NaN
22,10/29/2016,UIW,W 3 - 0,3,NaN,51,5,107,0.430,48,6,5,45,3,NaN,12,NaN,63.0,2,NaN
23,11/01/2016,@ UIW,W 3 - 1,4,NaN,62,18,136,0.324,59,4,13,42,6,3,6,1,72.0,2,NaN

In [105]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)

In [106]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)

In [107]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)
df1.fillna(0, inplace=True)

In [113]:

df1.isnull().sum()

Opponent         0
Result           0
S                0
Kills            0
Errors           0
Total Attacks    0
Hit Pct          0
Assists          0
Aces             0
SErr             0
Digs             0
RErr             0
Block Solos      0
Block Assists    0
BErr             0
PTS              0
BHE              0
Opp              0
dtype: int64

In [115]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)
df1.fillna(0, inplace=True)
df1.rename({'S': 'Sets'}, axis=1, inplace=True)

In [122]:
def extract_win(desc):
    if desc[0] == 'W':
        return 1
    else:
        return 0

df1['Result'] = df1['Result'].apply(extract_win)

In [123]:
df1

,Opponent,Result,Sets,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Opp
0,"Prairie View @ Waco, Texas",1,3,46,13,107,0.308,40,6,11,51,3,0,2,3,53.0,0,Prairie View
1,@ Baylor,0,4,37,20,119,0.143,32,5,6,46,5,2,18,0,53.0,0,Baylor
2,"UTRGV @ Waco, TX",1,5,76,26,216/,0.231,62,4,12,88,8,2,16,2,90.0,0,UTRGV
3,"San Diego @ Madison, Wis.",0,3,30,16,94,0.149,29,1,3,32,1,4,15,1,42.5,1,San Diego
4,@ Wisconsin,0,3,28,23,104,0.048,27,1,1,33,3,0,0,1,29.0,1,Wisconsin
5,UTRGV,1,4,53,20,158,0.209,49,3,9,66,2,2,16,1,66.0,1,UTRGV
6,UNLV,0,4,44,30,166,0.084,42,1,3,66,2,3,8,1,52.0,2,UNLV
7,UT Arlington,1,4,62,21,162,0.253,57,5,7,77,2,2,10,1,74.0,2,UT Arlington
8,Texas St.,1,5,57,20,166,0.223,53,4,8,81,3,5,22,1,77.0,2,Texas St.
9,@ Rice,0,4,56,29,176,0.153,55,4,6,80,8,1,18,4,70.0,1,Rice
10,@ Yale,0,4,44,24,143,0.140,38,3,4,56,6,1,18,6,57.0,1,Yale
11,@ Sam Houston St.,1,3,39,4,76,0.461,38,4,6,33,4,3,14,1,53.0,0,Sam Houston St.
13,@ Northwestern St.,1,3,44,12,94,0.340,40,6,6,45,3,1,16,2,59.0,1,Northwestern St.
14,@ Central Ark.,1,3,39,14,84,0.298,36,6,5,45,5,3,10,0,53.0,0,Central Ark.
15,SFA,1,3,51,16,132,0.265,44,3,7,54,1,3,8,0,61.0,2,SFA
16,Sam Houston St.,1,5,67,30,179,0.207,63,6,10,87,4,2,20,3,85.0,2,Sam Houston St.
17,@ UTRGV,0,5,60,26,187,0.182,57,2,6,77,6,1,26,3,76.0,0,UTRGV
18,Houston Baptist,1,4,62,18,160,0.275,60,4,3,79,6,1,12,1,73.0,2,Houston Baptist
19,Lamar University,1,3,49,19,111,0.270,49,4,5,47,3,1,12,2,60.0,0,Lamar University
20,@ New Orleans,1,4,62,19,138,0.312,58,3,7,67,5,2,20,3,77.0,2,New Orleans
21,@ Southeastern La.,1,3,33,10,76,0.303,31,8,5,41,3,2,12,1,49.0,2,Southeastern La.
24,McNeese,1,3,44,11,102,0.324,40,7,5,51,1,0,8,0,55.0,1,McNeese
25,Nicholls St.,1,3,57,19,134,0.284,54,2,3,72,4,1,7,3,63.5,0,Nicholls St.
26,@ Lamar University,1,4,59,12,151,0.311,57,2,6,67,2,0,12,0,67.0,2,Lamar University
27,@ Houston Baptist,1,4,53,19,137,0.248,51,3,15,67,2,1,16,4,65.0,4,Houston Baptist
28,"McNeese @ Conway, Ark.",1,4,55,18,160,0.231,51,2,6,78,6,2,22,1,70.0,0,McNeese
29,@ Central Ark.,1,4,54,15,149,0.262,51,5,8,78,7,1,14,2,67.0,2,Central Ark.
30,"Sam Houston St. @ Conway, Ark.",1,4,63,20,165,0.261,60,5,4,82,8,2,18,0,79.0,0,Sam Houston St.
31,@ Washington,0,3,29,22,104,0.067,28,1,7,37,9,1,6,5,34.0,0,Washington

In [124]:
for year in years:
    fp = f'raw/{year}/team_stats/'

2016
2017
2018
2019

In [142]:
schools

['Brown',
 'Northwestern St.',
 'Georgia',
 'North Carolina',
 'San Diego',
 'Bryant',
 'Wyoming',
 'New Hampshire',
 'Denver',
 "St. John's",
 'Navy',
 'The Citadel',
 'UC Davis',
 'Wisconsin',
 'Murray St.',
 'UTSA',
 'Charlotte',
 'Minnesota',
 'Fla. Atlantic',
 'Purdue Fort Wayne',
 'Maryland',
 'Hofstra',
 'Valparaiso',
 'Boston College',
 'William & Mary',
 'UNLV',
 'Ole Miss',
 'Rutgers',
 'Seton Hall',
 'Jacksonville',
 'Stony Brook',
 'Robert Morris',
 'Baylor',
 'UCF',
 'SIUE',
 'San Francisco',
 'Mercer',
 'Northeastern',
 'Eastern Ill.',
 'Jackson St.',
 'Texas',
 'St. Francis Brooklyn',
 'Niagara',
 'Princeton',
 'Loyola Chicago',
 'Wichita St.',
 'Cincinnati',
 'Southeast Mo. St.',
 'Saint Francis',
 'Drake',
 'Nicholls St.',
 'Lipscomb',
 'Florida',
 'Central Conn. St.',
 'Idaho St.',
 'Michigan',
 'Hawaii',
 'UNC Greensboro',
 'NJIT',
 'Fairleigh Dickinson',
 'Bethune-Cookman',
 'BYU',
 'North Dakota St.',
 'New Mexico St.',
 'Georgia Tech',
 'Louisville',
 'Miami',
 'Texas Southern',
 'Prairie View',
 'Marshall',
 'Presbyterian',
 'Oral Roberts',
 'Chattanooga',
 'Oregon St.',
 'Charleston So.',
 'Tennessee',
 'South Alabama',
 'Stanford',
 'Canisius',
 'Montana St.',
 'Arkansas',
 'Penn',
 'CSU Bakersfield',
 'Providence',
 'Ohio',
 'South Dakota St.',
 'McNeese',
 'Wright St.',
 'Pittsburgh',
 'Illinois St.',
 'Nebraska',
 'Siena',
 'Montana',
 'Seattle U',
 'Syracuse',
 'San Diego St.',
 'Marquette',
 'Southern Miss.',
 'Indiana',
 'Morehead St.',
 'Sacramento St.',
 'Villanova',
 'Penn St.',
 'UTRGV',
 'Cal Poly',
 'High Point',
 'Long Beach St.',
 'Pacific',
 'Mississippi Val.',
 'South Dakota',
 'Morgan St.',
 'Jacksonville St.',
 'George Washington',
 'Alcorn',
 'Omaha',
 'George Mason',
 'Austin Peay',
 'Chicago St.',
 'UT Arlington',
 'Creighton',
 'Northern Ariz.',
 'East Carolina',
 'Furman',
 'Georgia St.',
 'Eastern Ky.',
 'Columbia',
 'IUPUI',
 'VCU',
 'Boise St.',
 'Rider',
 'Coastal Carolina',
 'Bucknell',
 'Hampton',
 'Buffalo',
 'La Salle',
 'UIC',
 'Arkansas St.',
 'Xavier',
 'Kennesaw St.',
 'TCU',
 'ETSU',
 'Rice',
 'Auburn',
 'Texas Tech',
 'Georgetown',
 'Tennessee St.',
 'A&M-Corpus Christi',
 'Elon',
 'James Madison',
 'LIU',
 'La.-Monroe',
 'Central Mich.',
 'UConn',
 'Air Force',
 'Coppin St.',
 'Pepperdine',
 'Radford',
 'Central Ark.',
 'Fordham',
 'Western Ky.',
 'N.C. A&T',
 'Portland St.',
 'Purdue',
 'Appalachian St.',
 'Oklahoma',
 'Clemson',
 'Virginia Tech',
 'Colorado',
 'Texas A&M',
 'LSU',
 'Northwestern',
 'Howard',
 'Notre Dame',
 'Norfolk St.',
 'Yale',
 'Western Mich.',
 'Florida St.',
 'Northern Colo.',
 'Albany',
 'Ball St.',
 'Ark.-Pine Bluff',
 'Santa Clara',
 'Northern Ky.',
 'South Carolina',
 'UMBC',
 'Utah Valley',
 'North Dakota',
 'Middle Tenn.',
 'Dartmouth',
 'Weber St.',
 'Louisiana',
 'Holy Cross',
 'Washington St.',
 'Utah St.',
 'FIU',
 'Fairfield',
 'Army West Point',
 'Toledo',
 'Florida A&M',
 'Tulsa',
 'Kansas City',
 'Southeastern La.',
 'Memphis',
 'Davidson',
 'Lafayette',
 'N.C. Central',
 'Texas St.',
 'Eastern Wash.',
 'Utah',
 'Stetson',
 'Binghamton',
 'Winthrop',
 'Youngstown St.',
 'Sam Houston St.',
 "Saint Mary's",
 'New Orleans',
 'Tulane',
 'Virginia',
 'Bradley',
 'North Texas',
 'UC Santa Barbara',
 'Gonzaga',
 'Manhattan',
 'Loyola Maryland',
 'Liberty',
 'Missouri St.',
 'SFA',
 'NC State',
 'Cornell',
 'Duke',
 'Kansas St.',
 'Colorado St.',
 'Saint Louis',
 'Ohio St.',
 'UCLA',
 'Iowa St.',
 'FGCU',
 'Sacred Heart',
 'New Mexico',
 'Cal St. Fullerton',
 'Delaware',
 'Temple',
 'Wofford',
 'South Fla.',
 'Louisiana Tech',
 'Kentucky',
 'Harvard',
 'DePaul',
 'Oakland',
 'Milwaukee',
 'Southern Utah',
 'Akron',
 'American',
 'Bowling Green',
 'Campbell',
 'Belmont',
 'Arizona St.',
 'Evansville',
 'Tennessee Tech',
 'Western Caro.',
 'UC Riverside',
 'UNI',
 'UTEP',
 'Samford',
 'Grambling',
 'Kent St.',
 'Gardner-Webb',
 'Michigan St.',
 'UNC Asheville',
 'Delaware St.',
 'Southern California',
 'Alabama',
 'Alabama A&M',
 'SMU',
 'Arizona',
 'North Florida',
 'Green Bay',
 'UMES',
 'Houston',
 'Towson',
 'California',
 'USC Upstate',
 'Houston Baptist',
 'Cleveland St.',
 'LMU',
 'UT Martin',
 'Nevada',
 'Alabama St.',
 'Wake Forest',
 'Col. of Charleston',
 'Savannah St.',
 'UC Irvine',
 'Dayton',
 'Lamar University',
 'Quinnipiac',
 'Little Rock',
 'Illinois',
 'Colgate',
 'Duquesne',
 'Indiana St.',
 'Troy',
 'UAB',
 'Mississippi St.',
 'Southern Ill.',
 'Iona',
 'Marist',
 'Idaho',
 'Oregon',
 'Iowa',
 'Lehigh',
 'CSUN',
 'West Virginia',
 'Kansas',
 'Fresno St.',
 'Butler',
 'Eastern Mich.',
 'Ga. Southern',
 'Western Ill.',
 'Portland',
 'Washington',
 'UNCW',
 'Missouri',
 'Southern U.',
 'Northern Ill.',
 'Rhode Island',
 'Hartford',
 'San Jose St.']

In [149]:
output_dir = 'processed/'

In [179]:
def get_opp_team(desc):
    for team in desc.split('@'):
        if team.strip() in schools:
            return team.strip()

    return np.nan

In [181]:
def reformat_win(desc):
    if desc[0] == 'W':
        return 1
    else:
        return 0

In [216]:
def convert_height(height):
        try:
            feet, inches = height.split('-')
            return int(feet) * 12 + int(inches)
        except ValueError:
            return None

In [366]:
'Coastal Carolina' in team_data['2016'].keys()

True

In [377]:
team_data = {}
params = ['Kills', 'Errors', 'Total Attacks', 'Hit Pct', 'Assists', 'Aces',
       'SErr', 'Digs', 'RErr', 'Block Solos', 'Block Assists', 'BErr', 'PTS',
       'BHE']
       
for year in years:
    year_data = {}
    for fp in os.listdir(f'raw/{year}/team_stats'):
        s = os.path.splitext(fp)[0].strip()
        team_df = pd.read_csv(f'raw/{year}/team_stats/{fp}')

        year_data[s] = {}

        for param in params:
            year_data[s][f'Avg {param}'] = round(team_df.loc[team_df[param] != '-'][param].mean(), 2)
            year_data[s][f'Avg Height'] = round(team_df.loc[team_df['Ht'] != '-']['Ht'].apply(convert_height).mean(), 2)
    team_data[year] = year_data

In [374]:
team_data['2016'].keys() == team_data['2017'].keys()

False

In [325]:
def get_team_b_data(team_b):
    return team_data[team_b]

In [326]:
feature_cols = []
for param in params:
    feature_cols.append(f'Team A {param}')
    feature_cols.append(f'Team B {param}')

In [259]:
target_cols = []

In [327]:
feature_cols.append(target_cols)

In [276]:
type(feature_cols)

list

In [279]:
list(target_cols)

['Result',
 'Sets',
 'Kills',
 'Errors',
 'Total Attacks',
 'Hit Pct',
 'Assists',
 'Aces',
 'SErr',
 'Digs',
 'RErr',
 'Block Solos',
 'Block Assists',
 'BErr',
 'PTS',
 'BHE',
 'Opp']

In [378]:
for year in years:
    for fp in os.listdir(f'raw/{year}/team_game_by_game'):
        s = re.sub(r'\([^)]*\)', '', os.path.splitext(fp)[0]).strip()
        df = pd.read_csv(f'raw/{year}/team_game_by_game/{fp}')

        df.columns = df.iloc[0].values
        df = df[1:]
        df.reset_index(inplace=True)
        df.drop(['index'], axis = 1, inplace=True)
        df = pd.DataFrame(df, columns=df.columns[:-1])

        def get_opp_team(desc):
            for team in desc.split('@'):
                if team.strip() in schools[year]:
                    return team.strip()

            return np.nan

        df['Opp'] = df['Opponent'].apply(get_opp_team)

        df.dropna(subset=['Opp'], inplace=True)
        df.fillna(0, inplace=True)
        df.rename({'S': 'Sets'}, axis=1, inplace=True)
        df['Result'] = df['Result'].apply(reformat_win)

        df.drop(['Date', 'MP', "Opponent"], axis=1, inplace=True)
        
        print(year, s)

        for param in params:
            df[f'Team A {param}'] = round(team_data[year][s][f'Avg {param}'], 2)
            df[f'Team B {param}'] = round(df['Opp'].apply(lambda x: team_data[year][x][f'Avg {param}']), 2)


        df.to_csv(f'{output_dir}/{year}/{s}.csv', index=False)

2016 American
2016 Navy
2016 Niagara
2016 South Dakota St.
2016 Tennessee St.
2016 Auburn
2016 UMBC
2016 UCF
2016 Utah St.
2016 Syracuse
2016 Ga. Southern
2016 Charleston So.
2016 UNC Greensboro
2016 William & Mary
2016 Valparaiso
2016 Utah Valley
2016 Tulsa
2016 LMU
2016 Col. of Charleston
2016 UIC
2016 Clemson
2016 Eastern Mich.
2016 Northern Colo.
2016 Charlotte
2016 Middle Tenn.
2016 Louisville
2016 Cal Poly
2016 Wake Forest
2016 UTSA
2016 Bethune-Cookman
2016 Towson
2016 Davidson
2016 UCLA
2016 Xavier
2016 Colorado
2016 Grambling
2016 Morgan St.
2016 Army West Point
2016 Austin Peay
2016 Omaha
2016 Ohio St.
2016 Northeastern
2016 Saint Mary's
2016 Oregon
2016 Lafayette
2016 Arizona St.
2016 West Virginia
2016 Northwestern
2016 Colgate
2016 DePaul
2016 Houston Baptist
2016 BYU
2016 Boston College
2016 The Citadel
2016 Cal St. Fullerton
2016 Fordham
2016 Georgia
2016 North Carolina
2016 UC Santa Barbara
2016 Youngstown St.
2016 Eastern Ky.
2016 Weber St.
2016 Pittsburgh
2016 Stony Brook
2016 Evansville
2016 Saint Louis
2016 La.-Monroe
2016 New Orleans
2016 Southern Utah
2016 Illinois
2016 Baylor
2016 Mississippi Val.
2016 N.C. Central
2016 Liberty
2016 Mercer
2016 NC State
2016 Northern Ill.
2016 Western Ill.
2016 Bradley
2016 Binghamton
2016 St. John's
2016 Alabama A&M
2016 Ohio
2016 Texas St.
2016 Wisconsin
2016 San Diego St.
2016 Villanova
2016 Iowa
2016 Milwaukee
2016 UNC Asheville
2016 UTEP
2016 San Diego
2016 Notre Dame
2016 Akron
2016 Maryland
2016 Harvard
2016 Bryant
2016 San Jose St.
2016 Duquesne
2016 Rhode Island
2016 Green Bay
2016 New Mexico St.
2016 Marshall
2016 Florida St.
2016 UConn
2016 Samford
2016 Eastern Wash.
2016 Indiana
2016 Texas
2016 Rider
2016 Lamar University
2016 Montana
2016 Missouri
2016 Butler
2016 Loyola Maryland
2016 Kennesaw St.
2016 Miami
2016 UNCW
2016 South Carolina
2016 Jacksonville St.
2016 Norfolk St.
2016 Utah
2016 Tennessee
2016 Morehead St.
2016 Eastern Ill.
2016 Wyoming
2016 La Salle
2016 East Carolina
2016 Bowling Green
2016 Howard
2016 Southern Miss.
2016 Furman
2016 Alcorn
2016 Brown
2016 Kansas City
2016 Princeton
2016 Winthrop
2016 Hawaii
2016 Seattle U
2016 George Mason
2016 UAB
2016 Alabama
2016 Montana St.
2016 Rutgers
2016 Stanford
2016 Penn
2016 North Dakota St.
2016 Tennessee Tech
2016 Iowa St.
2016 Louisiana
2016 North Dakota
2016 Iona
2016 Cornell
2016 UNI
2016 UT Arlington
2016 Loyola Chicago
2016 Ark.-Pine Bluff
2016 Fla. Atlantic
2016 Washington
2016 FIU
2016 Pepperdine
2016 Kansas St.
2016 Wofford
2016 Penn St.
2016 Jacksonville
2016 Hampton
2016 Coastal Carolina
2016 Arkansas
2016 Idaho
2016 Minnesota
2016 Nicholls St.
2016 Michigan St.
2016 Columbia
2016 Dartmouth
2016 Bucknell
2016 USC Upstate
2016 IUPUI
2016 CSU Bakersfield
2016 LIU
2016 Long Beach St.
2016 Belmont
2016 A&M-Corpus Christi
2016 Virginia
2016 Georgetown
2016 California
2016 Texas Southern
2016 Canisius
2016 Portland St.
2016 Boise St.
2016 George Washington
2016 Texas Tech
2016 Quinnipiac
2016 SMU
2016 Central Mich.
2016 Oregon St.
2016 Arizona
2016 Central Ark.
2016 Western Caro.
2016 Florida
2016 Colorado St.
2016 Southeastern La.
2016 Oral Roberts
2016 Kansas
2016 North Texas
2016 Louisiana Tech
2016 Buffalo
2016 Nebraska
2016 FGCU
2016 Alabama St.
2016 Ole Miss
2016 North Florida
2016 James Madison
2016 Sacramento St.
2016 South Dakota
2016 ETSU
2016 Denver
2016 Fairfield
2016 Toledo
2016 Santa Clara
2016 Prairie View
2016 Pacific
2016 Mississippi St.
2016 Air Force
2016 Lehigh
2016 Sam Houston St.
2016 Tulane
2016 Albany
2016 Southern California
2016 Michigan
2016 Southeast Mo. St.
2016 Dayton
2016 Purdue Fort Wayne
2016 NJIT
2016 Rice
2016 Portland
2016 TCU
2016 Arkansas St.
2016 Chattanooga
2016 Georgia St.
2016 Memphis
2016 Robert Morris
2016 UTRGV
2016 Hofstra
2016 Gardner-Webb
2016 Siena
2016 McNeese
2016 Oakland
2016 Delaware
2016 Indiana St.
2016 SIUE
2016 Fairleigh Dickinson
2016 CSUN
2016 Elon
2016 Temple
2016 Kent St.
2016 UT Martin
2016 Gonzaga
2016 Oklahoma
2016 Southern Ill.
2016 Presbyterian
2016 Saint Francis
2016 UMES
2016 Jackson St.
2016 Texas A&M
2016 Sacred Heart
2016 Little Rock
2016 Delaware St.
2016 Yale
2016 Providence
2016 Marquette
2016 Murray St.
2016 Wichita St.
2016 Northern Ky.
2016 Manhattan
2016 Wright St.
2016 Seton Hall
2016 Illinois St.
2016 UNLV
2016 VCU
2016 San Francisco
2016 Washington St.
2016 Florida A&M
2016 Lipscomb
2016 Hartford
2016 Holy Cross
2016 Northwestern St.
2016 New Mexico
2016 New Hampshire
2016 Creighton
2016 Nevada
2016 Duke
2016 Fresno St.
2016 Radford
2016 South Fla.
2016 Purdue
2016 St. Francis Brooklyn
2016 Marist
2016 Chicago St.
2016 UC Riverside
2016 Missouri St.
2016 Northern Ariz.
2016 Georgia Tech
2016 Campbell
2016 Idaho St.
2016 Cleveland St.
2016 Stetson
2016 South Alabama
2016 UC Irvine
2016 Houston
2016 Virginia Tech
2016 Western Mich.
2016 Cincinnati
2016 Ball St.
2016 Southern U.
2016 Coppin St.
2016 High Point
2016 LSU
2016 UC Davis
2016 N.C. A&T
2016 Appalachian St.
2016 Kentucky
2016 Troy
2016 Drake
2016 Savannah St.
2016 SFA
2016 Western Ky.
2016 Central Conn. St.
2016 Miami
2017 Air Force
2017 American
2017 Navy
2017 Niagara
2017 South Dakota St.
2017 Tennessee St.
2017 Auburn
2017 San Jose St.
2017 UMBC
2017 UCF
2017 San Diego St.
2017 Syracuse
2017 Ga. Southern
2017 Charleston So.
2017 Nevada
2017 UNC Greensboro
2017 William & Mary
2017 Utah Valley
2017 Tulsa
2017 LMU
2017 Fresno St.
2017 Col. of Charleston
2017 UIC
2017 Clemson
2017 Eastern Mich.
2017 Northern Colo.
2017 Charlotte
2017 Middle Tenn.
2017 Louisville
2017 Cal Poly
2017 Wake Forest
2017 UTSA
2017 Bethune-Cookman
2017 Towson
2017 Davidson
2017 UMass Lowell
2017 UCLA
2017 Xavier
2017 Colorado
2017 Grambling
2017 Morgan St.
2017 Army West Point
2017 Austin Peay
2017 Omaha
2017 Ohio St.
2017 UNLV
2017 Northeastern
2017 Saint Mary's
2017 Oregon
2017 Lafayette
2017 Arizona St.
2017 West Virginia
2017 Wichita St.
2017 Northwestern
2017 Colgate
2017 DePaul
2017 Houston Baptist
2017 BYU
2017 Boston College
2017 The Citadel
2017 Cal St. Fullerton
2017 Fordham
2017 Georgia
2017 North Carolina
2017 UC Santa Barbara
2017 Youngstown St.
2017 Eastern Ky.
2017 Weber St.
2017 Pittsburgh
2017 Stony Brook
2017 Evansville
2017 Saint Louis
2017 La.-Monroe
2017 New Orleans
2017 Southern Utah
2017 Illinois
2017 Baylor
2017 Mississippi Val.
2017 N.C. Central
2017 Liberty
2017 Mercer
2017 NC State
2017 Northern Ill.
2017 Western Ill.
2017 Bradley
2017 Binghamton
2017 St. John's
2017 Alabama A&M
2017 Ohio
2017 Texas St.
2017 Wisconsin
2017 Villanova
2017 Iowa
2017 Milwaukee
2017 UNC Asheville
2017 UTEP
2017 San Diego
2017 Notre Dame
2017 Akron
2017 Maryland
2017 Harvard
2017 Wyoming
2017 Bryant
2017 Duquesne
2017 Rhode Island
2017 Green Bay
2017 New Mexico St.
2017 Marshall
2017 South Carolina St.
2017 Florida St.
2017 UConn
2017 Samford
2017 Eastern Wash.
2017 Indiana
2017 Texas
2017 Rider
2017 Lamar University
2017 Montana
2017 Missouri
2017 Butler
2017 Loyola Maryland
2017 Kennesaw St.
2017 Miami
2017 UNCW
2017 South Carolina
2017 Jacksonville St.
2017 Norfolk St.
2017 Utah
2017 Tennessee
2017 Morehead St.
2017 Eastern Ill.
2017 La Salle
2017 East Carolina
2017 Bowling Green
2017 Howard
2017 Incarnate Word
2017 Southern Miss.
2017 Furman
2017 Alcorn
2017 Brown
2017 Princeton
2017 Winthrop
2017 Hawaii
2017 Seattle U
2017 George Mason
2017 Colorado St.
2017 UAB
2017 Alabama
2017 Montana St.
2017 Rutgers
2017 Stanford
2017 Penn
2017 North Dakota St.
2017 Tennessee Tech
2017 Iowa St.
2017 Louisiana
2017 North Dakota
2017 Iona
2017 Cornell
2017 UNI
2017 UT Arlington
2017 Loyola Chicago
2017 Ark.-Pine Bluff
2017 Fla. Atlantic
2017 Washington
2017 FIU
2017 Pepperdine
2017 Kansas St.
2017 Wofford
2017 Penn St.
2017 Jacksonville
2017 Hampton
2017 Coastal Carolina
2017 Arkansas
2017 Idaho
2017 Minnesota
2017 Nicholls St.
2017 Michigan St.
2017 Columbia
2017 Dartmouth
2017 Bucknell
2017 USC Upstate
2017 LIU Brooklyn
2017 CSU Bakersfield
2017 Long Beach St.
2017 Belmont
2017 A&M-Corpus Christi
2017 Virginia
2017 Georgetown
2017 California
2017 Texas Southern
2017 Canisius
2017 Portland St.
2017 George Washington
2017 Texas Tech
2017 Quinnipiac
2017 SMU
2017 Central Mich.
2017 Oregon St.
2017 Arizona
2017 Central Ark.
2017 Western Caro.
2017 Florida
2017 Southeastern La.
2017 Oral Roberts
2017 Kansas
2017 North Texas
2017 Louisiana Tech
2017 Buffalo
2017 Nebraska
2017 FGCU
2017 Alabama St.
2017 Ole Miss
2017 North Florida
2017 James Madison
2017 Sacramento St.
2017 South Dakota
2017 ETSU
2017 Denver
2017 Fairfield
2017 Toledo
2017 Santa Clara
2017 Prairie View
2017 Pacific
2017 Mississippi St.
2017 Lehigh
2017 Sam Houston St.
2017 Tulane
2017 Albany
2017 Southern California
2017 Michigan
2017 UMKC
2017 Southeast Mo. St.
2017 Dayton
2017 Purdue Fort Wayne
2017 NJIT
2017 Rice
2017 Portland
2017 TCU
2017 Arkansas St.
2017 Chattanooga
2017 Georgia St.
2017 Memphis
2017 Robert Morris
2017 UTRGV
2017 Boise St.
2017 Abilene Christian
2017 Hofstra
2017 Gardner-Webb
2017 Siena
2017 McNeese
2017 Oakland
2017 Delaware
2017 Indiana St.
2017 SIUE
2017 Fairleigh Dickinson
2017 CSUN
2017 Elon
2017 Temple
2017 Kent St.
2017 UT Martin
2017 Gonzaga
2017 Oklahoma
2017 Southern Ill.
2017 Presbyterian
2017 Saint Francis
2017 UMES
2017 Jackson St.
2017 Texas A&M
2017 Sacred Heart
2017 Little Rock
2017 Delaware St.
2017 Yale
2017 Providence
2017 Marquette
2017 Murray St.
2017 Northern Ky.
2017 Manhattan
2017 Wright St.
2017 Seton Hall
2017 Illinois St.
2017 VCU
2017 San Francisco
2017 Washington St.
2017 Florida A&M
2017 Lipscomb
2017 Hartford
2017 Holy Cross
2017 Northwestern St.
2017 New Hampshire
2017 Creighton
2017 Duke
2017 Utah St.
2017 Radford
2017 South Fla.
2017 Purdue
2017 St. Francis Brooklyn
2017 Marist
2017 Chicago St.
2017 UC Riverside
2017 Missouri St.
2017 Northern Ariz.
2017 Georgia Tech
2017 Campbell
2017 Idaho St.
2017 Cleveland St.
2017 Stetson
2017 South Alabama
2017 UC Irvine
2017 Grand Canyon
2017 Houston
2017 New Mexico
2017 Virginia Tech
2017 Western Mich.
2017 Cincinnati
2017 Ball St.
2017 Southern U.
2017 Coppin St.
2017 High Point
2017 LSU
2017 UC Davis
2017 N.C. A&T
2017 Appalachian St.
2017 IUPUI
2017 Kentucky
2017 Troy
2017 Drake
2017 Savannah St.
2017 SFA
2017 Western Ky.
2017 Valparaiso
2017 Central Conn. St.
2017 Miami
2018 Air Force
2018 American
2018 Navy
2018 Niagara
2018 South Dakota St.
2018 Tennessee St.
2018 Auburn
2018 San Jose St.
2018 UMBC
2018 UCF
2018 San Diego St.
2018 Syracuse
2018 Ga. Southern
2018 Charleston So.
2018 Nevada
2018 UNC Greensboro
2018 William & Mary
2018 Utah Valley
2018 Tulsa
2018 Fresno St.
2018 Col. of Charleston
2018 UIC
2018 Clemson
2018 Eastern Mich.
2018 Northern Colo.
2018 Charlotte
2018 Middle Tenn.
2018 Louisville
2018 Cal Poly
2018 Wake Forest
2018 UTSA
2018 Bethune-Cookman
2018 Towson
2018 Davidson
2018 UMass Lowell
2018 UCLA
2018 Xavier
2018 Colorado
2018 Grambling
2018 Morgan St.
2018 Army West Point
2018 Austin Peay
2018 Omaha
2018 Ohio St.
2018 UNLV
2018 Northeastern
2018 Saint Mary's
2018 Coastal Caro.
2018 Oregon
2018 Lafayette
2018 Arizona St.
2018 West Virginia
2018 Wichita St.
2018 Northwestern
2018 Colgate
2018 DePaul
2018 Houston Baptist
2018 BYU
2018 Boston College
2018 The Citadel
2018 Cal St. Fullerton
2018 Fordham
2018 Georgia
2018 North Carolina
2018 UC Santa Barbara
2018 Youngstown St.
2018 Eastern Ky.
2018 Weber St.
2018 Pittsburgh
2018 Stony Brook
2018 Evansville
2018 Saint Louis
2018 La.-Monroe
2018 New Orleans
2018 Southern Utah
2018 Illinois
2018 Baylor
2018 Mississippi Val.
2018 N.C. Central
2018 Mercer
2018 NC State
2018 Northern Ill.
2018 Western Ill.
2018 Bradley
2018 Binghamton
2018 St. John's
2018 Alabama A&M
2018 Ohio
2018 Texas St.
2018 Wisconsin
2018 Villanova
2018 Iowa
2018 Milwaukee
2018 UNC Asheville
2018 UTEP
2018 San Diego
2018 Notre Dame
2018 Akron
2018 Maryland
2018 Harvard
2018 Wyoming
2018 Bryant
2018 Duquesne
2018 Rhode Island
2018 Green Bay
2018 New Mexico St.
2018 Marshall
2018 South Carolina St.
2018 Florida St.
2018 UConn
2018 Samford
2018 Eastern Wash.
2018 Indiana
2018 Texas
2018 Rider
2018 Lamar University
2018 Montana
2018 Missouri
2018 Butler
2018 North Dakota
2018 Loyola Maryland
2018 Kennesaw St.
2018 Miami
2018 UNCW
2018 South Carolina
2018 Jacksonville St.
2018 Norfolk St.
2018 Utah
2018 Tennessee
2018 Morehead St.
2018 Eastern Ill.
2018 La Salle
2018 East Carolina
2018 Bowling Green
2018 Howard
2018 Incarnate Word
2018 Southern Miss.
2018 Furman
2018 Alcorn
2018 Brown
2018 Princeton
2018 Winthrop
2018 Hawaii
2018 Seattle U
2018 George Mason
2018 Saint Peter's
2018 Colorado St.
2018 UAB
2018 Alabama
2018 Montana St.
2018 Rutgers
2018 Stanford
2018 Penn
2018 North Dakota St.
2018 Tennessee Tech
2018 Iowa St.
2018 Louisiana
2018 Iona
2018 Cornell
2018 UNI
2018 UT Arlington
2018 Loyola Chicago
2018 Ark.-Pine Bluff
2018 Fla. Atlantic
2018 Hampton
2018 Washington
2018 FIU
2018 Pepperdine
2018 Kansas St.
2018 Wofford
2018 Penn St.
2018 Jacksonville
2018 Arkansas
2018 Idaho
2018 Minnesota
2018 Nicholls St.
2018 Michigan St.
2018 Columbia
2018 Dartmouth
2018 Bucknell
2018 LIU Brooklyn
2018 CSU Bakersfield
2018 Long Beach St.
2018 Belmont
2018 A&M-Corpus Christi
2018 Virginia
2018 Georgetown
2018 California
2018 Texas Southern
2018 Canisius
2018 Portland St.
2018 George Washington
2018 Texas Tech
2018 Quinnipiac
2018 SMU
2018 Central Mich.
2018 Oregon St.
2018 Arizona
2018 Central Ark.
2018 Western Caro.
2018 Florida
2018 Southeastern La.
2018 Oral Roberts
2018 Kansas
2018 North Texas
2018 Louisiana Tech
2018 Buffalo
2018 Nebraska
2018 FGCU
2018 Alabama St.
2018 Ole Miss
2018 North Florida
2018 James Madison
2018 Sacramento St.
2018 South Dakota
2018 ETSU
2018 Denver
2018 Fairfield
2018 Toledo
2018 Santa Clara
2018 USC Upstate
2018 Prairie View
2018 Pacific
2018 Mississippi St.
2018 Lehigh
2018 Sam Houston St.
2018 Tulane
2018 Albany
2018 Southern California
2018 Michigan
2018 UMKC
2018 Southeast Mo. St.
2018 Dayton
2018 Loyola Marymount
2018 Purdue Fort Wayne
2018 NJIT
2018 Rice
2018 Portland
2018 TCU
2018 Arkansas St.
2018 Chattanooga
2018 Georgia St.
2018 Memphis
2018 Robert Morris
2018 UTRGV
2018 Boise St.
2018 Abilene Christian
2018 Hofstra
2018 Gardner-Webb
2018 Siena
2018 McNeese
2018 Oakland
2018 Delaware
2018 Indiana St.
2018 SIUE
2018 Fairleigh Dickinson
2018 CSUN
2018 Elon
2018 Temple
2018 Kent St.
2018 UT Martin
2018 Gonzaga
2018 Oklahoma
2018 Southern Ill.
2018 Presbyterian
2018 Saint Francis
2018 UMES
2018 Jackson St.
2018 Texas A&M
2018 Sacred Heart
2018 Little Rock
2018 Delaware St.
2018 Yale
2018 Providence
2018 Marquette
2018 Murray St.
2018 Northern Ky.
2018 Manhattan
2018 Wright St.
2018 Seton Hall
2018 Illinois St.
2018 VCU
2018 San Francisco
2018 Washington St.
2018 Florida A&M
2018 Lipscomb
2018 Hartford
2018 Holy Cross
2018 Northwestern St.
2018 New Hampshire
2018 Creighton
2018 Duke
2018 Utah St.
2018 Radford
2018 South Fla.
2018 Purdue
2018 St. Francis Brooklyn
2018 Marist
2018 Chicago St.
2018 UC Riverside
2018 Missouri St.
2018 Northern Ariz.
2018 Georgia Tech
2018 Campbell
2018 Idaho St.
2018 Cleveland St.
2018 Stetson
2018 South Alabama
2018 UC Irvine
2018 Grand Canyon
2018 Houston
2018 New Mexico
2018 Virginia Tech
2018 Western Mich.
2018 Liberty
2018 Cincinnati
2018 Ball St.
2018 Southern U.
2018 Coppin St.
2018 High Point
2018 LSU
2018 UC Davis
2018 N.C. A&T
2018 Appalachian St.
2018 IUPUI
2018 Kentucky
2018 Troy
2018 Drake
2018 Savannah St.
2018 SFA
2018 Western Ky.
2018 Valparaiso
2018 Central Conn. St.
2018 Miami
2019 American
2019 Navy
2019 Niagara
2019 South Dakota St.
2019 UIW
2019 Tennessee St.
2019 Auburn
2019 UMBC
2019 UCF
2019 Utah St.
2019 Syracuse
2019 Ga. Southern
2019 Charleston So.
2019 UNC Greensboro
2019 William & Mary
2019 Utah Valley
2019 Tulsa
2019 LMU
2019 Col. of Charleston
2019 UIC
2019 Clemson
2019 Eastern Mich.
2019 Northern Colo.
2019 Charlotte
2019 Middle Tenn.
2019 Louisville
2019 Cal Poly
2019 Wake Forest
2019 UTSA
2019 Bethune-Cookman
2019 Towson
2019 Davidson
2019 UCLA
2019 Xavier
2019 Colorado
2019 Grambling
2019 Morgan St.
2019 Army West Point
2019 Austin Peay
2019 Omaha
2019 Ohio St.
2019 Northeastern
2019 Saint Mary's
2019 Oregon
2019 Lafayette
2019 Arizona St.
2019 West Virginia
2019 Wichita St.
2019 Northwestern
2019 Colgate
2019 DePaul
2019 Houston Baptist
2019 BYU
2019 Boston College
2019 The Citadel
2019 Cal St. Fullerton
2019 Fordham
2019 Georgia
2019 North Carolina
2019 UC Santa Barbara
2019 Youngstown St.
2019 Eastern Ky.
2019 Weber St.
2019 Pittsburgh
2019 Stony Brook
2019 Evansville
2019 Saint Louis
2019 La.-Monroe
2019 New Orleans
2019 Southern Utah
2019 Illinois
2019 Baylor
2019 Mississippi Val.
2019 N.C. Central
2019 Mercer
2019 NC State
2019 Northern Ill.
2019 Western Ill.
2019 Bradley
2019 Binghamton
2019 St. John's
2019 Alabama A&M
2019 Ohio
2019 Texas St.
2019 Wisconsin
2019 San Diego St.
2019 Villanova
2019 Iowa
2019 Milwaukee
2019 UNC Asheville
2019 UTEP
2019 San Diego
2019 Notre Dame
2019 Akron
2019 Maryland
2019 Harvard
2019 Bryant
2019 San Jose St.
2019 Duquesne
2019 Rhode Island
2019 Green Bay
2019 New Mexico St.
2019 Marshall
2019 South Carolina St.
2019 Florida St.
2019 UConn
2019 Samford
2019 Eastern Wash.
2019 Indiana
2019 Texas
2019 Rider
2019 Lamar University
2019 Montana
2019 Missouri
2019 Butler
2019 North Dakota
2019 Loyola Maryland
2019 Kennesaw St.
2019 Miami
2019 UNCW
2019 South Carolina
2019 Jacksonville St.
2019 Norfolk St.
2019 Utah
2019 Tennessee
2019 Morehead St.
2019 Eastern Ill.
2019 Wyoming
2019 La Salle
2019 East Carolina
2019 Bowling Green
2019 Howard
2019 Southern Miss.
2019 Furman
2019 Alcorn
2019 Brown
2019 Kansas City
2019 Princeton
2019 Winthrop
2019 Hawaii
2019 Seattle U
2019 George Mason
2019 Saint Peter's
2019 UAB
2019 Alabama
2019 Montana St.
2019 Rutgers
2019 Stanford
2019 Penn
2019 North Dakota St.
2019 Tennessee Tech
2019 Iowa St.
2019 Louisiana
2019 Iona
2019 Cornell
2019 UNI
2019 UT Arlington
2019 Loyola Chicago
2019 Ark.-Pine Bluff
2019 Fla. Atlantic
2019 Hampton
2019 Washington
2019 FIU
2019 Pepperdine
2019 Kansas St.
2019 Wofford
2019 Penn St.
2019 Jacksonville
2019 Coastal Carolina
2019 Arkansas
2019 Idaho
2019 Minnesota
2019 Nicholls St.
2019 Michigan St.
2019 Columbia
2019 Dartmouth
2019 Bucknell
2019 CSU Bakersfield
2019 LIU
2019 Long Beach St.
2019 Belmont
2019 A&M-Corpus Christi
2019 Virginia
2019 Georgetown
2019 California
2019 Texas Southern
2019 Canisius
2019 Portland St.
2019 Boise St.
2019 George Washington
2019 Texas Tech
2019 Quinnipiac
2019 SMU
2019 Central Mich.
2019 Oregon St.
2019 Arizona
2019 Central Ark.
2019 Western Caro.
2019 Florida
2019 Colorado St.
2019 Southeastern La.
2019 Oral Roberts
2019 Kansas
2019 North Texas
2019 Louisiana Tech
2019 Buffalo
2019 Nebraska
2019 FGCU
2019 Alabama St.
2019 Ole Miss
2019 North Florida
2019 James Madison
2019 Sacramento St.
2019 South Dakota
2019 ETSU
2019 Denver
2019 Fairfield
2019 Toledo
2019 Santa Clara
2019 USC Upstate
2019 Prairie View
2019 Pacific
2019 Mississippi St.
2019 Air Force
2019 Lehigh
2019 Sam Houston St.
2019 Tulane
2019 Albany
2019 Southern California
2019 Michigan
2019 Southeast Mo. St.
2019 Dayton
2019 Purdue Fort Wayne
2019 NJIT
2019 Rice
2019 Portland
2019 TCU
2019 Arkansas St.
2019 Chattanooga
2019 Georgia St.
2019 Memphis
2019 Robert Morris
2019 UTRGV
2019 Abilene Christian
2019 Hofstra
2019 Gardner-Webb
2019 Siena
2019 McNeese
2019 Oakland
2019 Delaware
2019 Indiana St.
2019 SIUE
2019 Fairleigh Dickinson
2019 CSUN
2019 Elon
2019 Temple
2019 Kent St.
2019 UT Martin
2019 Gonzaga
2019 Oklahoma
2019 Southern Ill.
2019 Presbyterian
2019 Saint Francis
2019 UMES
2019 Jackson St.
2019 Texas A&M
2019 Sacred Heart
2019 Little Rock
2019 Delaware St.
2019 Yale
2019 Providence
2019 Marquette
2019 Murray St.
2019 Northern Ky.
2019 Manhattan
2019 Wright St.
2019 Seton Hall
2019 Illinois St.
2019 UNLV
2019 VCU
2019 San Francisco
2019 Washington St.
2019 Florida A&M
2019 Lipscomb
2019 Hartford
2019 Holy Cross
2019 Northwestern St.
2019 New Mexico
2019 New Hampshire

In [253]:
temp = pd.read_csv('/Users/arnavakula/Code/repos/volleyball-analysis/processed/A&M-Corpus Christi.csv')

In [255]:
temp

,Result,Sets,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,...,Team A Block Solos,Team B Block Solos,Team A Block Assists,Team B Block Assists,Team A BErr,Team B BErr,Team A PTS,Team B PTS,Team A BHE,Team B BHE
0,1,3,46,13,107,0.308,40,6,11,51,...,15.73,13.50,101.0,43.69,11.62,7.30,362.12,234.53,12.33,10.42
1,0,4,37,20,119,0.143,32,5,6,46,...,15.73,12.70,101.0,138.42,11.62,14.75,362.12,397.72,12.33,7.00
2,1,5,76,26,216/,0.231,62,4,12,88,...,15.73,14.56,101.0,144.73,11.62,13.67,362.12,470.00,12.33,12.33
3,0,3,30,16,94,0.149,29,1,3,32,...,15.73,16.20,101.0,91.17,11.62,13.27,362.12,324.41,12.33,4.50
4,0,3,28,23,104,0.048,27,1,1,33,...,15.73,15.89,101.0,140.09,11.62,17.78,362.12,386.66,12.33,7.12
5,1,4,53,20,158,0.209,49,3,9,66,...,15.73,14.56,101.0,144.73,11.62,13.67,362.12,470.00,12.33,12.33
6,0,4,44,30,166,0.084,42,1,3,66,...,15.73,15.56,101.0,155.56,11.62,15.78,362.12,425.43,12.33,10.88
7,1,4,62,21,162,0.253,57,5,7,77,...,15.73,13.78,101.0,124.00,11.62,13.36,362.12,371.44,12.33,12.78
8,1,5,57,20,166,0.223,53,4,8,81,...,15.73,10.54,101.0,103.77,11.62,15.25,362.12,307.66,12.33,14.11
9,0,4,56,29,176,0.153,55,4,6,80,...,15.73,22.09,101.0,96.50,11.62,16.20,362.12,357.18,12.33,15.60
10,0,4,44,24,143,0.140,38,3,4,56,...,15.73,10.93,101.0,43.19,11.62,10.15,362.12,229.64,12.33,14.80
11,1,3,39,4,76,0.461,38,4,6,33,...,15.73,13.38,101.0,94.00,11.62,11.70,362.12,348.29,12.33,8.08
12,1,3,44,12,94,0.340,40,6,6,45,...,15.73,12.67,101.0,97.45,11.62,12.18,362.12,354.60,12.33,17.00
13,1,3,39,14,84,0.298,36,6,5,45,...,15.73,11.00,101.0,93.85,11.62,12.80,362.12,338.25,12.33,8.56
14,1,3,51,16,132,0.265,44,3,7,54,...,15.73,13.88,101.0,84.07,11.62,11.09,362.12,300.32,12.33,11.40
15,1,5,67,30,179,0.207,63,6,10,87,...,15.73,13.38,101.0,94.00,11.62,11.70,362.12,348.29,12.33,8.08
16,0,5,60,26,187,0.182,57,2,6,77,...,15.73,14.56,101.0,144.73,11.62,13.67,362.12,470.00,12.33,12.33
17,1,4,62,18,160,0.275,60,4,3,79,...,15.73,10.64,101.0,113.08,11.62,20.80,362.12,395.25,12.33,21.60
18,1,3,49,19,111,0.270,49,4,5,47,...,15.73,11.60,101.0,67.33,11.62,8.21,362.12,263.95,12.33,8.00
19,1,4,62,19,138,0.312,58,3,7,67,...,15.73,15.90,101.0,66.93,11.62,12.50,362.12,337.57,12.33,13.50
20,1,3,33,10,76,0.303,31,8,5,41,...,15.73,10.00,101.0,97.70,11.62,7.10,362.12,389.12,12.33,29.62
21,1,3,44,11,102,0.324,40,7,5,51,...,15.73,14.78,101.0,90.09,11.62,14.91,362.12,401.75,12.33,17.22
22,1,3,57,19,134,0.284,54,2,3,72,...,15.73,12.73,101.0,65.62,11.62,16.30,362.12,309.62,12.33,18.78
23,1,4,59,12,151,0.311,57,2,6,67,...,15.73,11.60,101.0,67.33,11.62,8.21,362.12,263.95,12.33,8.00
24,1,4,53,19,137,0.248,51,3,15,67,...,15.73,10.64,101.0,113.08,11.62,20.80,362.12,395.25,12.33,21.60
25,1,4,55,18,160,0.231,51,2,6,78,...,15.73,14.78,101.0,90.09,11.62,14.91,362.12,401.75,12.33,17.22
26,1,4,54,15,149,0.262,51,5,8,78,...,15.73,11.00,101.0,93.85,11.62,12.80,362.12,338.25,12.33,8.56
27,1,4,63,20,165,0.261,60,5,4,82,...,15.73,13.38,101.0,94.00,11.62,11.70,362.12,348.29,12.33,8.08
28,0,3,29,22,104,0.067,28,1,7,37,...,15.73,12.40,101.0,135.82,11.62,22.75,362.12,405.67,12.33,10.57