In [133]:
import pandas as pd
import os
import numpy as np
import regex as re

In [5]:
years = ['2016', '2017', '2018', '2019']

In [37]:
schools = []

for x in os.listdir('raw/2016/team_stats'):
    schools.append(os.path.splitext(x)[0])

In [39]:
schools

['Brown',
 'Northwestern St.',
 'Georgia',
 'North Carolina',
 'San Diego',
 'Bryant',
 'Wyoming',
 'New Hampshire',
 'Denver',
 "St. John's",
 'Navy',
 'The Citadel',
 'UC Davis',
 'Wisconsin',
 'Murray St.',
 'UTSA',
 'Charlotte',
 'Minnesota',
 'Fla. Atlantic',
 'Purdue Fort Wayne',
 'Maryland',
 'Hofstra',
 'Valparaiso',
 'Boston College',
 'William & Mary',
 'UNLV',
 'Ole Miss',
 'Rutgers',
 'Seton Hall',
 'Jacksonville',
 'Stony Brook',
 'Robert Morris',
 'Baylor',
 'UCF',
 'SIUE',
 'San Francisco',
 'Mercer',
 'Northeastern',
 'Eastern Ill.',
 'Jackson St.',
 'Texas',
 'St. Francis Brooklyn',
 'Niagara',
 'Princeton',
 'Loyola Chicago',
 'Wichita St.',
 'Cincinnati',
 'Southeast Mo. St.',
 'Saint Francis',
 'Drake',
 'Nicholls St.',
 'Lipscomb',
 'Florida',
 'Central Conn. St.',
 'Idaho St.',
 'Michigan',
 'Hawaii',
 'UNC Greensboro',
 'NJIT',
 'Fairleigh Dickinson',
 'Bethune-Cookman',
 'BYU',
 'North Dakota St.',
 'New Mexico St.',
 'Georgia Tech',
 'Louisville',
 'Miami',
 'Texas Southern',
 'Prairie View',
 'Marshall',
 'Presbyterian',
 'Oral Roberts',
 'Chattanooga',
 'Oregon St.',
 'Charleston So.',
 'Tennessee',
 'South Alabama',
 'Stanford',
 'Canisius',
 'Montana St.',
 'Arkansas',
 'Penn',
 'CSU Bakersfield',
 'Providence',
 'Ohio',
 'South Dakota St.',
 'McNeese',
 'Wright St.',
 'Pittsburgh',
 'Illinois St.',
 'Nebraska',
 'Siena',
 'Montana',
 'Seattle U',
 'Syracuse',
 'San Diego St.',
 'Marquette',
 'Southern Miss.',
 'Indiana',
 'Morehead St.',
 'Sacramento St.',
 'Villanova',
 'Penn St.',
 'UTRGV',
 'Cal Poly',
 'High Point',
 'Long Beach St.',
 'Pacific',
 'Mississippi Val.',
 'South Dakota',
 'Morgan St.',
 'Jacksonville St.',
 'George Washington',
 'Alcorn',
 'Omaha',
 'George Mason',
 'Austin Peay',
 'Chicago St.',
 'UT Arlington',
 'Creighton',
 'Northern Ariz.',
 'East Carolina',
 'Furman',
 'Georgia St.',
 'Eastern Ky.',
 'Columbia',
 'IUPUI',
 'VCU',
 'Boise St.',
 'Rider',
 'Coastal Carolina',
 'Bucknell',
 'Hampton',
 'Buffalo',
 'La Salle',
 'UIC',
 'Arkansas St.',
 'Xavier',
 'Kennesaw St.',
 'TCU',
 'ETSU',
 'Rice',
 'Auburn',
 'Texas Tech',
 'Georgetown',
 'Tennessee St.',
 'A&M-Corpus Christi',
 'Elon',
 'James Madison',
 'LIU',
 'La.-Monroe',
 'Central Mich.',
 'UConn',
 'Air Force',
 'Coppin St.',
 'Pepperdine',
 'Radford',
 'Central Ark.',
 'Fordham',
 'Western Ky.',
 'N.C. A&T',
 'Portland St.',
 'Purdue',
 'Appalachian St.',
 'Oklahoma',
 'Clemson',
 'Virginia Tech',
 'Colorado',
 'Texas A&M',
 'LSU',
 'Northwestern',
 'Howard',
 'Notre Dame',
 'Norfolk St.',
 'Yale',
 'Western Mich.',
 'Florida St.',
 'Northern Colo.',
 'Albany',
 'Ball St.',
 'Ark.-Pine Bluff',
 'Santa Clara',
 'Northern Ky.',
 'South Carolina',
 'UMBC',
 'Utah Valley',
 'North Dakota',
 'Middle Tenn.',
 'Dartmouth',
 'Weber St.',
 'Louisiana',
 'Holy Cross',
 'Washington St.',
 'Utah St.',
 'FIU',
 'Fairfield',
 'Army West Point',
 'Toledo',
 'Florida A&M',
 'Tulsa',
 'Kansas City',
 'Southeastern La.',
 'Memphis',
 'Davidson',
 'Lafayette',
 'N.C. Central',
 'Texas St.',
 'Eastern Wash.',
 'Utah',
 'Stetson',
 'Binghamton',
 'Winthrop',
 'Youngstown St.',
 'Sam Houston St.',
 "Saint Mary's",
 'New Orleans',
 'Tulane',
 'Virginia',
 'Bradley',
 'North Texas',
 'UC Santa Barbara',
 'Gonzaga',
 'Manhattan',
 'Loyola Maryland',
 'Liberty',
 'Missouri St.',
 'SFA',
 'NC State',
 'Cornell',
 'Duke',
 'Kansas St.',
 'Colorado St.',
 'Saint Louis',
 'Ohio St.',
 'UCLA',
 'Iowa St.',
 'FGCU',
 'Sacred Heart',
 'New Mexico',
 'Cal St. Fullerton',
 'Delaware',
 'Temple',
 'Wofford',
 'South Fla.',
 'Louisiana Tech',
 'Kentucky',
 'Harvard',
 'DePaul',
 'Oakland',
 'Milwaukee',
 'Southern Utah',
 'Akron',
 'American',
 'Bowling Green',
 'Campbell',
 'Belmont',
 'Arizona St.',
 'Evansville',
 'Tennessee Tech',
 'Western Caro.',
 'UC Riverside',
 'UNI',
 'UTEP',
 'Samford',
 'Grambling',
 'Kent St.',
 'Gardner-Webb',
 'Michigan St.',
 'UNC Asheville',
 'Delaware St.',
 'Southern California',
 'Alabama',
 'Alabama A&M',
 'SMU',
 'Arizona',
 'North Florida',
 'Green Bay',
 'UMES',
 'Houston',
 'Towson',
 'California',
 'USC Upstate',
 'Houston Baptist',
 'Cleveland St.',
 'LMU',
 'UT Martin',
 'Nevada',
 'Alabama St.',
 'Wake Forest',
 'Col. of Charleston',
 'Savannah St.',
 'UC Irvine',
 'Dayton',
 'Lamar University',
 'Quinnipiac',
 'Little Rock',
 'Illinois',
 'Colgate',
 'Duquesne',
 'Indiana St.',
 'Troy',
 'UAB',
 'Mississippi St.',
 'Southern Ill.',
 'Iona',
 'Marist',
 'Idaho',
 'Oregon',
 'Iowa',
 'Lehigh',
 'CSUN',
 'West Virginia',
 'Kansas',
 'Fresno St.',
 'Butler',
 'Eastern Mich.',
 'Ga. Southern',
 'Western Ill.',
 'Portland',
 'Washington',
 'UNCW',
 'Missouri',
 'Southern U.',
 'Northern Ill.',
 'Rhode Island',
 'Hartford',
 'San Jose St.']

In [176]:
df1 = pd.read_csv('raw/2016/team_game_by_game/A&M-Corpus Christi (Southland).csv')
df1.columns = df1.iloc[0].values
df1 = df1[1:]
df1.reset_index(inplace=True)
df1.drop(['index'], axis = 1, inplace=True)
df1.iloc[:, :-1].columns

Index(['Date', 'Opponent', 'Result', 'S', 'MP', 'Kills', 'Errors',
       'Total Attacks', 'Hit Pct', 'Assists', 'Aces', 'SErr', 'Digs', 'RErr',
       'Block Solos', 'Block Assists', 'BErr', 'PTS', 'BHE'],
      dtype='object')

In [96]:
df2 = pd.read_csv('raw/2016/team_stats/A&M-Corpus Christi.csv')

In [97]:
df1.head()

,Date,Opponent,Result,S,MP,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE
0,08/26/2016,"Prairie View @ Waco, Texas",W 3 - 0,3,NaN,46,13,107,0.308,40,6,11,51,3,NaN,2,3,53.0,NaN
1,08/27/2016,@ Baylor,L 1 - 3,4,NaN,37,20,119,0.143,32,5,6,46,5,2,18,NaN,53.0,NaN
2,08/27/2016,"UTRGV @ Waco, TX",W 3 - 2,5,NaN,76,26,216/,0.231,62,4,12,88,8,2,16,2,90.0,NaN
3,09/03/2016,"San Diego @ Madison, Wis.",L 0 - 3,3,NaN,30,16,94,0.149,29,1,3,32,1,4,15,1,42.5,1
4,09/04/2016,@ Wisconsin,L 0 - 3,3,NaN,28,23,104,0.048,27,1,1,33,3,NaN,NaN,1,29.0,1

In [98]:
def get_team_1(desc):
    for team in desc.split('@'):
        if team.strip() in schools:
            return team.strip()

    return np.nan

df['Opp'] = df['Opponent'].apply(get_team_1)

In [101]:
df.loc[df['Opp'].isna()]

,Date,Opponent,Result,S,MP,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Opp
12,09/22/2016,Abilene Christian,W 3 - 0,3,NaN,44,24,126,0.159,42,2,3,59,6,5,12,NaN,57.0,3,NaN
22,10/29/2016,UIW,W 3 - 0,3,NaN,51,5,107,0.430,48,6,5,45,3,NaN,12,NaN,63.0,2,NaN
23,11/01/2016,@ UIW,W 3 - 1,4,NaN,62,18,136,0.324,59,4,13,42,6,3,6,1,72.0,2,NaN

In [105]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)

In [106]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)

In [107]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)
df1.fillna(0, inplace=True)

In [113]:

df1.isnull().sum()

Opponent         0
Result           0
S                0
Kills            0
Errors           0
Total Attacks    0
Hit Pct          0
Assists          0
Aces             0
SErr             0
Digs             0
RErr             0
Block Solos      0
Block Assists    0
BErr             0
PTS              0
BHE              0
Opp              0
dtype: int64

In [115]:
df1.drop(['Date', 'MP'], axis=1, inplace=True)
df1.dropna(subset=['Opp'], inplace=True)
df1.fillna(0, inplace=True)
df1.rename({'S': 'Sets'}, axis=1, inplace=True)

In [122]:
def extract_win(desc):
    if desc[0] == 'W':
        return 1
    else:
        return 0

df1['Result'] = df1['Result'].apply(extract_win)

In [123]:
df1

,Opponent,Result,Sets,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Opp
0,"Prairie View @ Waco, Texas",1,3,46,13,107,0.308,40,6,11,51,3,0,2,3,53.0,0,Prairie View
1,@ Baylor,0,4,37,20,119,0.143,32,5,6,46,5,2,18,0,53.0,0,Baylor
2,"UTRGV @ Waco, TX",1,5,76,26,216/,0.231,62,4,12,88,8,2,16,2,90.0,0,UTRGV
3,"San Diego @ Madison, Wis.",0,3,30,16,94,0.149,29,1,3,32,1,4,15,1,42.5,1,San Diego
4,@ Wisconsin,0,3,28,23,104,0.048,27,1,1,33,3,0,0,1,29.0,1,Wisconsin
5,UTRGV,1,4,53,20,158,0.209,49,3,9,66,2,2,16,1,66.0,1,UTRGV
6,UNLV,0,4,44,30,166,0.084,42,1,3,66,2,3,8,1,52.0,2,UNLV
7,UT Arlington,1,4,62,21,162,0.253,57,5,7,77,2,2,10,1,74.0,2,UT Arlington
8,Texas St.,1,5,57,20,166,0.223,53,4,8,81,3,5,22,1,77.0,2,Texas St.
9,@ Rice,0,4,56,29,176,0.153,55,4,6,80,8,1,18,4,70.0,1,Rice
10,@ Yale,0,4,44,24,143,0.140,38,3,4,56,6,1,18,6,57.0,1,Yale
11,@ Sam Houston St.,1,3,39,4,76,0.461,38,4,6,33,4,3,14,1,53.0,0,Sam Houston St.
13,@ Northwestern St.,1,3,44,12,94,0.340,40,6,6,45,3,1,16,2,59.0,1,Northwestern St.
14,@ Central Ark.,1,3,39,14,84,0.298,36,6,5,45,5,3,10,0,53.0,0,Central Ark.
15,SFA,1,3,51,16,132,0.265,44,3,7,54,1,3,8,0,61.0,2,SFA
16,Sam Houston St.,1,5,67,30,179,0.207,63,6,10,87,4,2,20,3,85.0,2,Sam Houston St.
17,@ UTRGV,0,5,60,26,187,0.182,57,2,6,77,6,1,26,3,76.0,0,UTRGV
18,Houston Baptist,1,4,62,18,160,0.275,60,4,3,79,6,1,12,1,73.0,2,Houston Baptist
19,Lamar University,1,3,49,19,111,0.270,49,4,5,47,3,1,12,2,60.0,0,Lamar University
20,@ New Orleans,1,4,62,19,138,0.312,58,3,7,67,5,2,20,3,77.0,2,New Orleans
21,@ Southeastern La.,1,3,33,10,76,0.303,31,8,5,41,3,2,12,1,49.0,2,Southeastern La.
24,McNeese,1,3,44,11,102,0.324,40,7,5,51,1,0,8,0,55.0,1,McNeese
25,Nicholls St.,1,3,57,19,134,0.284,54,2,3,72,4,1,7,3,63.5,0,Nicholls St.
26,@ Lamar University,1,4,59,12,151,0.311,57,2,6,67,2,0,12,0,67.0,2,Lamar University
27,@ Houston Baptist,1,4,53,19,137,0.248,51,3,15,67,2,1,16,4,65.0,4,Houston Baptist
28,"McNeese @ Conway, Ark.",1,4,55,18,160,0.231,51,2,6,78,6,2,22,1,70.0,0,McNeese
29,@ Central Ark.,1,4,54,15,149,0.262,51,5,8,78,7,1,14,2,67.0,2,Central Ark.
30,"Sam Houston St. @ Conway, Ark.",1,4,63,20,165,0.261,60,5,4,82,8,2,18,0,79.0,0,Sam Houston St.
31,@ Washington,0,3,29,22,104,0.067,28,1,7,37,9,1,6,5,34.0,0,Washington

In [124]:
for year in years:
    fp = f'raw/{year}/team_stats/'

2016
2017
2018
2019

In [142]:
schools

['Brown',
 'Northwestern St.',
 'Georgia',
 'North Carolina',
 'San Diego',
 'Bryant',
 'Wyoming',
 'New Hampshire',
 'Denver',
 "St. John's",
 'Navy',
 'The Citadel',
 'UC Davis',
 'Wisconsin',
 'Murray St.',
 'UTSA',
 'Charlotte',
 'Minnesota',
 'Fla. Atlantic',
 'Purdue Fort Wayne',
 'Maryland',
 'Hofstra',
 'Valparaiso',
 'Boston College',
 'William & Mary',
 'UNLV',
 'Ole Miss',
 'Rutgers',
 'Seton Hall',
 'Jacksonville',
 'Stony Brook',
 'Robert Morris',
 'Baylor',
 'UCF',
 'SIUE',
 'San Francisco',
 'Mercer',
 'Northeastern',
 'Eastern Ill.',
 'Jackson St.',
 'Texas',
 'St. Francis Brooklyn',
 'Niagara',
 'Princeton',
 'Loyola Chicago',
 'Wichita St.',
 'Cincinnati',
 'Southeast Mo. St.',
 'Saint Francis',
 'Drake',
 'Nicholls St.',
 'Lipscomb',
 'Florida',
 'Central Conn. St.',
 'Idaho St.',
 'Michigan',
 'Hawaii',
 'UNC Greensboro',
 'NJIT',
 'Fairleigh Dickinson',
 'Bethune-Cookman',
 'BYU',
 'North Dakota St.',
 'New Mexico St.',
 'Georgia Tech',
 'Louisville',
 'Miami',
 'Texas Southern',
 'Prairie View',
 'Marshall',
 'Presbyterian',
 'Oral Roberts',
 'Chattanooga',
 'Oregon St.',
 'Charleston So.',
 'Tennessee',
 'South Alabama',
 'Stanford',
 'Canisius',
 'Montana St.',
 'Arkansas',
 'Penn',
 'CSU Bakersfield',
 'Providence',
 'Ohio',
 'South Dakota St.',
 'McNeese',
 'Wright St.',
 'Pittsburgh',
 'Illinois St.',
 'Nebraska',
 'Siena',
 'Montana',
 'Seattle U',
 'Syracuse',
 'San Diego St.',
 'Marquette',
 'Southern Miss.',
 'Indiana',
 'Morehead St.',
 'Sacramento St.',
 'Villanova',
 'Penn St.',
 'UTRGV',
 'Cal Poly',
 'High Point',
 'Long Beach St.',
 'Pacific',
 'Mississippi Val.',
 'South Dakota',
 'Morgan St.',
 'Jacksonville St.',
 'George Washington',
 'Alcorn',
 'Omaha',
 'George Mason',
 'Austin Peay',
 'Chicago St.',
 'UT Arlington',
 'Creighton',
 'Northern Ariz.',
 'East Carolina',
 'Furman',
 'Georgia St.',
 'Eastern Ky.',
 'Columbia',
 'IUPUI',
 'VCU',
 'Boise St.',
 'Rider',
 'Coastal Carolina',
 'Bucknell',
 'Hampton',
 'Buffalo',
 'La Salle',
 'UIC',
 'Arkansas St.',
 'Xavier',
 'Kennesaw St.',
 'TCU',
 'ETSU',
 'Rice',
 'Auburn',
 'Texas Tech',
 'Georgetown',
 'Tennessee St.',
 'A&M-Corpus Christi',
 'Elon',
 'James Madison',
 'LIU',
 'La.-Monroe',
 'Central Mich.',
 'UConn',
 'Air Force',
 'Coppin St.',
 'Pepperdine',
 'Radford',
 'Central Ark.',
 'Fordham',
 'Western Ky.',
 'N.C. A&T',
 'Portland St.',
 'Purdue',
 'Appalachian St.',
 'Oklahoma',
 'Clemson',
 'Virginia Tech',
 'Colorado',
 'Texas A&M',
 'LSU',
 'Northwestern',
 'Howard',
 'Notre Dame',
 'Norfolk St.',
 'Yale',
 'Western Mich.',
 'Florida St.',
 'Northern Colo.',
 'Albany',
 'Ball St.',
 'Ark.-Pine Bluff',
 'Santa Clara',
 'Northern Ky.',
 'South Carolina',
 'UMBC',
 'Utah Valley',
 'North Dakota',
 'Middle Tenn.',
 'Dartmouth',
 'Weber St.',
 'Louisiana',
 'Holy Cross',
 'Washington St.',
 'Utah St.',
 'FIU',
 'Fairfield',
 'Army West Point',
 'Toledo',
 'Florida A&M',
 'Tulsa',
 'Kansas City',
 'Southeastern La.',
 'Memphis',
 'Davidson',
 'Lafayette',
 'N.C. Central',
 'Texas St.',
 'Eastern Wash.',
 'Utah',
 'Stetson',
 'Binghamton',
 'Winthrop',
 'Youngstown St.',
 'Sam Houston St.',
 "Saint Mary's",
 'New Orleans',
 'Tulane',
 'Virginia',
 'Bradley',
 'North Texas',
 'UC Santa Barbara',
 'Gonzaga',
 'Manhattan',
 'Loyola Maryland',
 'Liberty',
 'Missouri St.',
 'SFA',
 'NC State',
 'Cornell',
 'Duke',
 'Kansas St.',
 'Colorado St.',
 'Saint Louis',
 'Ohio St.',
 'UCLA',
 'Iowa St.',
 'FGCU',
 'Sacred Heart',
 'New Mexico',
 'Cal St. Fullerton',
 'Delaware',
 'Temple',
 'Wofford',
 'South Fla.',
 'Louisiana Tech',
 'Kentucky',
 'Harvard',
 'DePaul',
 'Oakland',
 'Milwaukee',
 'Southern Utah',
 'Akron',
 'American',
 'Bowling Green',
 'Campbell',
 'Belmont',
 'Arizona St.',
 'Evansville',
 'Tennessee Tech',
 'Western Caro.',
 'UC Riverside',
 'UNI',
 'UTEP',
 'Samford',
 'Grambling',
 'Kent St.',
 'Gardner-Webb',
 'Michigan St.',
 'UNC Asheville',
 'Delaware St.',
 'Southern California',
 'Alabama',
 'Alabama A&M',
 'SMU',
 'Arizona',
 'North Florida',
 'Green Bay',
 'UMES',
 'Houston',
 'Towson',
 'California',
 'USC Upstate',
 'Houston Baptist',
 'Cleveland St.',
 'LMU',
 'UT Martin',
 'Nevada',
 'Alabama St.',
 'Wake Forest',
 'Col. of Charleston',
 'Savannah St.',
 'UC Irvine',
 'Dayton',
 'Lamar University',
 'Quinnipiac',
 'Little Rock',
 'Illinois',
 'Colgate',
 'Duquesne',
 'Indiana St.',
 'Troy',
 'UAB',
 'Mississippi St.',
 'Southern Ill.',
 'Iona',
 'Marist',
 'Idaho',
 'Oregon',
 'Iowa',
 'Lehigh',
 'CSUN',
 'West Virginia',
 'Kansas',
 'Fresno St.',
 'Butler',
 'Eastern Mich.',
 'Ga. Southern',
 'Western Ill.',
 'Portland',
 'Washington',
 'UNCW',
 'Missouri',
 'Southern U.',
 'Northern Ill.',
 'Rhode Island',
 'Hartford',
 'San Jose St.']

In [149]:
output_dir = 'processed/'

In [179]:
def get_opp_team(desc):
    for team in desc.split('@'):
        if team.strip() in schools:
            return team.strip()

    return np.nan

In [181]:
def reformat_win(desc):
    if desc[0] == 'W':
        return 1
    else:
        return 0

In [216]:
def convert_height(height):
        try:
            feet, inches = height.split('-')
            return int(feet) * 12 + int(inches)
        except ValueError:
            return None

In [238]:
team_data = {}
params = ['Kills', 'Errors', 'Total Attacks', 'Total Attacks', 'Hit Pct', 'Assists', 'Aces',
       'SErr', 'Digs', 'RErr', 'Block Solos', 'Block Assists', 'BErr', 'PTS',
       'BHE']

for fp in os.listdir('raw/2016/team_stats'):
    s = os.path.splitext(fp)[0].strip()
    team_df = pd.read_csv(f'raw/2016/team_stats/{fp}')

    team_data[s] = {}

    for param in params:
        team_data[s][f'Avg {param}'] = team_df.loc[team_df[param] != '-'][param].mean()
        team_data[s][f'Avg Height'] = team_df.loc[team_df['Ht'] != '-']['Ht'].apply(convert_height).mean()

In [233]:
team_df.loc[team_df['Player'] == 'TEAM'].columns

Index(['Jersey', 'Player', 'Yr', 'Pos', 'Ht', 'GP', 'GS', 'S', 'MP', 'MS',
       'Kills', 'Errors', 'Total Attacks', 'Hit Pct', 'Assists', 'Aces',
       'SErr', 'Digs', 'RErr', 'Block Solos', 'Block Assists', 'BErr', 'PTS',
       'BHE', 'Trpl Dbl'],
      dtype='object')

In [218]:
for fp in os.listdir('raw/2016/team_game_by_game'):
    s = re.sub(r'\([^)]*\)', '', os.path.splitext(fp)[0]).strip()
    df = pd.read_csv(f'raw/2016/team_game_by_game/{fp}')

    df.columns = df.iloc[0].values
    df = df[1:]
    df.reset_index(inplace=True)
    df.drop(['index'], axis = 1, inplace=True)
    df = pd.DataFrame(df, columns=df.columns[:-1])

    df['Opp'] = df['Opponent'].apply(get_opp_team)

    df.dropna(subset=['Opp'], inplace=True)
    df.fillna(0, inplace=True)
    df.rename({'S': 'Sets'}, axis=1, inplace=True)
    df['Result'] = df['Result'].apply(reformat_win)

    df.drop(['Date', 'MP', "Opponent"], axis=1, inplace=True)

    df.to_csv(f'{output_dir}/{s}.csv', index=False)

71.58333333333333
70.63636363636364
70.92857142857143
69.84615384615384
67.5
69.9375
69.26666666666667
71.57142857142857
71.23076923076923
71.76923076923077
69.73684210526316
68.07142857142857
70.4375
70.53333333333333
70.07692307692308
70.93333333333334
69.84615384615384
70.41666666666667
71.42857142857143
69.6
70.57142857142857
70.28571428571429
69.6875
70.61538461538461
71.5
70.13333333333334
71.64285714285714
71.08333333333333
70.14285714285714
69.5625
69.80952380952381
71.125
72.125
68.64285714285714
72.06666666666666
68.0
70.14285714285714
70.5625
70.15384615384616
71.3076923076923
71.06666666666666
70.46666666666667
70.35714285714286
72.14285714285714
71.35714285714286
69.82352941176471
70.93333333333334
71.875
71.17647058823529
70.75
70.07142857142857
71.61111111111111
70.86666666666666
70.4375
69.0
70.64285714285714
71.85714285714286
71.94117647058823
70.4
70.53846153846153
69.23076923076923
70.33333333333333
71.6
69.84615384615384
72.27272727272727
69.75
70.42857142857143
70.0
69.9090909090909
71.6875
70.4
68.27272727272727
70.45454545454545
71.16666666666667
70.73333333333333
71.07142857142857
70.26666666666667
70.3125
70.33333333333333
70.64285714285714
70.86666666666666
65.72727272727273
70.875
69.27777777777777
71.5
69.85714285714286
71.0
70.8125
70.6
69.46153846153847
69.6923076923077
69.17647058823529
70.5625
70.57142857142857
71.13333333333334
71.73333333333333
69.76470588235294
70.21428571428571
70.57142857142857
70.5
70.07692307692308
70.25
69.3125
72.33333333333333
70.0
70.21428571428571
70.33333333333333
71.6
70.875
70.4
68.94117647058823
70.16666666666667
71.21428571428571
70.0
69.8
69.53333333333333
70.57142857142857
70.375
71.05882352941177
69.0
69.53333333333333
70.6
70.73684210526316
70.92307692307692
70.58333333333333
70.6
70.46666666666667
69.85714285714286
70.93333333333334
68.875
70.6875
70.53333333333333
67.23076923076923
71.0625
70.8
71.8125
69.83333333333333
71.47058823529412
72.21428571428571
70.875
70.5
70.875
70.6
72.15384615384616
73.86666666666666
69.61111111111111
69.4375
70.41176470588235
71.2
70.85714285714286
70.5625
69.14285714285714
69.8
70.26666666666667
70.35714285714286
72.0
69.16666666666667
70.625
71.61538461538461
70.58333333333333
72.75
71.5
71.29411764705883
70.10526315789474
70.36363636363636
70.0
71.0
71.25
70.76923076923077
71.8125
69.8
72.06666666666666
70.5
71.95238095238095
70.76470588235294
69.33333333333333
70.84615384615384
69.4
71.16666666666667
72.46666666666667
70.0
69.73333333333333
72.0625
70.0
72.0
69.47368421052632
70.35714285714286
70.28571428571429
69.81818181818181
70.13333333333334
70.6
69.58823529411765
70.33333333333333
70.84615384615384
71.05555555555556
70.46666666666667
70.1875
69.91666666666667
70.94117647058823
71.07692307692308
69.5
68.86666666666666
69.73333333333333
71.06666666666666
71.14285714285714
70.91666666666667
71.84615384615384
70.84615384615384
69.64285714285714
71.28571428571429
71.0
70.8125
70.0
69.85714285714286
69.6923076923077
71.46153846153847
70.4
70.93333333333334
70.6
68.0
71.2
70.23076923076923
70.14285714285714
70.78571428571429
69.5625
71.13333333333334
70.71428571428571
71.35714285714286
71.93333333333334
69.64285714285714
71.92857142857143
70.26666666666667
67.7
71.46666666666667
70.53846153846153
73.14285714285714
70.5
69.5
70.93333333333334
71.92307692307692
70.5
69.4
70.85714285714286
69.52941176470588
70.9375
68.91666666666667
70.06666666666666
70.625
70.76923076923077
70.06666666666666
70.41666666666667
71.0
70.86666666666666
71.91666666666667
71.0625
69.83333333333333
70.2
70.82352941176471
71.0
69.91666666666667
70.83333333333333
71.5
68.73333333333333
71.1875
70.23529411764706
69.76923076923077
69.33333333333333
71.4375
69.66666666666667
70.86666666666666
68.91666666666667
70.83333333333333
69.76923076923077
70.6
69.92307692307692
69.57142857142857
70.71428571428571
70.46666666666667
70.71428571428571
69.66666666666667
70.8
71.66666666666667
70.6923076923077
70.0
70.08333333333333
70.23076923076923
70.3125
70.66666666666667
71.35714285714286
69.92857142857143
71.6
70.53846153846153
70.0
70.64285714285714
71.41666666666667
70.15384615384616
70.21428571428571
70.71428571428571
69.44444444444444
70.94444444444444
70.42857142857143
71.3076923076923
70.41666666666667
70.33333333333333
69.57142857142857
70.2
69.88888888888889
71.38888888888889
69.78947368421052
71.17647058823529
70.83333333333333
72.15384615384616
71.23529411764706
68.07142857142857
68.41666666666667
70.92857142857143
71.86666666666666
71.26666666666667
69.42857142857143
69.44444444444444
71.76923076923077
71.4
70.85714285714286
68.5
69.73333333333333
70.08333333333333
69.92857142857143
70.57142857142857

In [190]:
temp = pd.read_csv('/Users/arnavakula/Code/repos/volleyball-analysis/processed/A&M-Corpus Christi.csv')

In [191]:
temp.columns

Index(['Result', 'Sets', 'Kills', 'Errors', 'Total Attacks', 'Hit Pct',
       'Assists', 'Aces', 'SErr', 'Digs', 'RErr', 'Block Solos',
       'Block Assists', 'BErr', 'PTS', 'BHE', 'Unnamed: 16', 'Opp'],
      dtype='object')