In [1]:
import pandas as pd
import numpy as np

In [2]:
df_AM = pd.read_csv('raw/2016/team_stats/A&M-Corpus Christi.csv')

In [5]:
df_AM.head()

,Jersey,Player,Yr,Pos,Ht,GP,GS,S,MP,MS,...,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Trpl Dbl
0,11,"Klepetka, Kate",Jr,DS,5-8,118,0,118,32.0,NaN,...,33.0,40.0,609.0,22.0,NaN,NaN,1.0,36.0,1.0,NaN
1,14,"Nicholson, Kristyn",Jr,S,6-0,117,0,117,32.0,32.0,...,50.0,58.0,240.0,NaN,2.0,38.0,6.0,213.0,16.0,NaN
2,2,"Gilpin, Brittany",Jr,MB,5-10,117,0,117,32.0,32.0,...,4.0,9.0,309.0,38.0,11.0,52.0,5.0,448.0,3.0,NaN
3,6,"Carlson, Morgan",Sr,RS,6-0,115,0,115,32.0,24.0,...,11.0,28.0,147.0,15.0,7.0,65.0,9.0,369.5,NaN,NaN
4,1,"Woods, Madison",So,DS,5-5,104,0,104,29.0,16.0,...,10.0,21.0,251.0,19.0,NaN,NaN,NaN,10.0,NaN,NaN

In [10]:
def convert_height(height):
    try:
        feet, inches = height.split('-')
        return int(feet) * 12 + int(inches)
    except ValueError:
        return None
df_AM['Ht'] = df_AM['Ht'].apply(convert_height)
df_AM.head()

,Jersey,Player,Yr,Pos,Ht,GP,GS,S,MP,MS,...,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Trpl Dbl
0,11,"Klepetka, Kate",Jr,DS,68.0,118,0,118,32.0,NaN,...,33.0,40.0,609.0,22.0,NaN,NaN,1.0,36.0,1.0,NaN
1,14,"Nicholson, Kristyn",Jr,S,72.0,117,0,117,32.0,32.0,...,50.0,58.0,240.0,NaN,2.0,38.0,6.0,213.0,16.0,NaN
2,2,"Gilpin, Brittany",Jr,MB,70.0,117,0,117,32.0,32.0,...,4.0,9.0,309.0,38.0,11.0,52.0,5.0,448.0,3.0,NaN
3,6,"Carlson, Morgan",Sr,RS,72.0,115,0,115,32.0,24.0,...,11.0,28.0,147.0,15.0,7.0,65.0,9.0,369.5,NaN,NaN
4,1,"Woods, Madison",So,DS,65.0,104,0,104,29.0,16.0,...,10.0,21.0,251.0,19.0,NaN,NaN,NaN,10.0,NaN,NaN