In [1]:
import pandas as pd
import numpy as np

In [2]:
df_AM = pd.read_csv('raw/2016/team_stats/A&M-Corpus Christi.csv')

In [3]:
df_AM.head()

,Jersey,Player,Yr,Pos,Ht,GP,GS,S,MP,MS,...,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Trpl Dbl
0,11,"Klepetka, Kate",Jr,DS,5-8,118,0,118,32.0,NaN,...,33.0,40.0,609.0,22.0,NaN,NaN,1.0,36.0,1.0,NaN
1,14,"Nicholson, Kristyn",Jr,S,6-0,117,0,117,32.0,32.0,...,50.0,58.0,240.0,NaN,2.0,38.0,6.0,213.0,16.0,NaN
2,2,"Gilpin, Brittany",Jr,MB,5-10,117,0,117,32.0,32.0,...,4.0,9.0,309.0,38.0,11.0,52.0,5.0,448.0,3.0,NaN
3,6,"Carlson, Morgan",Sr,RS,6-0,115,0,115,32.0,24.0,...,11.0,28.0,147.0,15.0,7.0,65.0,9.0,369.5,NaN,NaN
4,1,"Woods, Madison",So,DS,5-5,104,0,104,29.0,16.0,...,10.0,21.0,251.0,19.0,NaN,NaN,NaN,10.0,NaN,NaN

In [4]:
def convert_height(height):
    try:
        feet, inches = height.split('-')
        return int(feet) * 12 + int(inches)
    except ValueError:
        return None
df_AM['Ht'] = df_AM['Ht'].apply(convert_height)
df_AM.head()

,Jersey,Player,Yr,Pos,Ht,GP,GS,S,MP,MS,...,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Trpl Dbl
0,11,"Klepetka, Kate",Jr,DS,68.0,118,0,118,32.0,NaN,...,33.0,40.0,609.0,22.0,NaN,NaN,1.0,36.0,1.0,NaN
1,14,"Nicholson, Kristyn",Jr,S,72.0,117,0,117,32.0,32.0,...,50.0,58.0,240.0,NaN,2.0,38.0,6.0,213.0,16.0,NaN
2,2,"Gilpin, Brittany",Jr,MB,70.0,117,0,117,32.0,32.0,...,4.0,9.0,309.0,38.0,11.0,52.0,5.0,448.0,3.0,NaN
3,6,"Carlson, Morgan",Sr,RS,72.0,115,0,115,32.0,24.0,...,11.0,28.0,147.0,15.0,7.0,65.0,9.0,369.5,NaN,NaN
4,1,"Woods, Madison",So,DS,65.0,104,0,104,29.0,16.0,...,10.0,21.0,251.0,19.0,NaN,NaN,NaN,10.0,NaN,NaN

In [5]:
df_AM = df_AM.drop(['Jersey', 'GS', 'S', 'Trpl Dbl'], axis=1)

In [6]:
df_AM['Yr'] = pd.factorize(df_AM['Yr'])[0]

In [7]:
df_AM['Pos'] = pd.factorize(df_AM['Pos'])[0]

In [8]:
df_AM

,Player,Yr,Pos,Ht,GP,MP,MS,Kills,Errors,Total Attacks,...,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE
0,"Klepetka, Kate",0,0,68.0,118,32.0,NaN,3,5,42,...,80.0,33.0,40.0,609.0,22.0,NaN,NaN,1.0,36.0,1.0
1,"Nicholson, Kristyn",0,1,72.0,117,32.0,32.0,142,31,331,...,1091.0,50.0,58.0,240.0,NaN,2.0,38.0,6.0,213.0,16.0
2,"Gilpin, Brittany",0,2,70.0,117,32.0,32.0,407,121,1122,...,38.0,4.0,9.0,309.0,38.0,11.0,52.0,5.0,448.0,3.0
3,"Carlson, Morgan",1,3,72.0,115,32.0,24.0,319,126,770,...,24.0,11.0,28.0,147.0,15.0,7.0,65.0,9.0,369.5,NaN
4,"Woods, Madison",2,0,65.0,104,29.0,16.0,0,7,16,...,22.0,10.0,21.0,251.0,19.0,NaN,NaN,NaN,10.0,NaN
5,"Fitzsimmons, Madison",2,2,72.0,95,29.0,28.0,207,63,487,...,15.0,NaN,NaN,21.0,NaN,14.0,85.0,19.0,263.5,8.0
6,"Doud, Madeleine",0,2,73.0,89,31.0,24.0,132,43,306,...,26.0,3.0,19.0,55.0,2.0,10.0,76.0,3.0,183.0,NaN
7,"Moran, Mallory",2,4,71.0,87,29.0,11.0,172,95,542,...,11.0,NaN,NaN,42.0,5.0,3.0,28.0,NaN,189.0,1.0
8,"Williams, Morgan",2,2,73.0,72,27.0,12.0,89,28,224,...,23.0,5.0,10.0,36.0,NaN,6.0,47.0,3.0,123.5,4.0
9,"Green, Madison",3,1,68.0,60,29.0,NaN,8,2,27,...,147.0,NaN,7.0,75.0,3.0,2.0,NaN,NaN,10.0,5.0
10,"Karsten, Claire",3,4,70.0,59,28.0,5.0,83,44,242,...,7.0,5.0,7.0,43.0,7.0,2.0,16.0,4.0,98.0,NaN
11,"Perlich, Shelby",3,0,65.0,44,17.0,8.0,0,0,3,...,9.0,1.0,2.0,57.0,4.0,NaN,NaN,NaN,1.0,NaN
12,"Mulcahey, Erin",3,4,72.0,44,25.0,NaN,41,20,161,...,1.0,NaN,NaN,13.0,NaN,NaN,16.0,1.0,49.0,NaN
13,"Saavedra, Zoe",3,0,64.0,17,7.0,NaN,0,0,3,...,5.0,NaN,3.0,24.0,6.0,NaN,NaN,NaN,NaN,NaN
14,"Overstreet, Naomi",2,4,71.0,12,9.0,NaN,7,8,43,...,2.0,NaN,1.0,7.0,1.0,NaN,3.0,1.0,8.5,NaN
15,TEAM,4,5,NaN,-,13.0,NaN,0,0,0,...,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1.0,NaN,NaN
16,Totals,4,5,NaN,-,NaN,NaN,1610,593,4319,...,1501.0,122.0,205.0,1929.0,137.0,57.0,426.0,53.0,2002.0,38.0
17,Opponent Totals,4,5,NaN,-,NaN,NaN,1413,662,4314,...,1308.0,138.0,200.0,1779.0,122.0,59.0,360.0,45.0,1790.0,35.0